In [1]:
import pandas as pd
# import pandana as pdna
import time
import numpy as np
import matplotlib.pyplot as plt
import os

# import matplotlib
# matplotlib.style.use('ggplot')

%matplotlib inline

pd.options.display.max_columns = 80

## Step 1.
### Prepare person and place tables.

In [2]:
os.listdir('/home/data/CHTS_csv_format/data')

['Deliv_HH.csv',
 'Deliv_ACTIVITY.csv',
 'Deliv_LD.csv',
 'LookUp_LD.csv',
 'LookUp_Home.csv',
 'ASSN_TravelDate.csv',
 'LookUp_PLACE.csv',
 'LookUp_PER.csv',
 'Deliv_PER.csv',
 'Deliv_VEH.csv',
 'Deliv_PLACE.csv']

In [3]:
person = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PER.csv')

person.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (40,60,93,97,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SAMPN,PERNO,RELAT,GEND,AGE,AGEB,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,CNTRY,LIC,USER,TRANS,TPTYP1,TPTYP2,TPTYP3,TPTYP4,TPTYP5,TPTYP6,TPTYP7,O_TPTYP,CLIP1,CLIP2,CLIP3,COMP,MET,PASSTL,FLEX,EMPLY,WKSTAT,O_WKSTAT,JOBS,WLOC,WNAME,WCITY,WSTAT,...,HVLOG,PTRIPS,TOLLF,TOLLR1,TOLLR2,TOLLR3,TOLLR4,TOLLR5,TOLLR6,TOLLR7,TOLLR8,TOLLR9,TOLLR10,TOLLB1,TOLLB2,TOLLB3,TOLLB4,TOLLB5,TOLLB6,TOLLB7,TOLLB8,TOLLB9,TOLLB10,HOVL,NOGOWHY,NOGOWHY_O,InComplete,Moto_trip,WCTFIP,WTRACT,SCTFIP,STRACT,WPrimaryCity,WSTFIP,W2PrimaryCity,W2STFIP,SPrimaryCity,SSTFIP,PERWGT,EXPPERWGT
0,1031985,1,1,1,74,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
1,1031985,2,2,2,73,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
2,1032036,1,1,1,46,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,SAN DIEGO,CA,...,NaN,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,73.0,17032.0,NaN,NaN,SAN DIEGO,6.0,NaN,NaN,NaN,NaN,1.223974,414.701494
3,1032036,2,2,2,47,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.863473,292.558373
4,1032036,3,3,1,15,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,73.0,17030.0,NaN,NaN,NaN,NaN,SAN DIEGO,6.0,0.941412,318.965100

In [4]:
place = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PLACE.csv')

place.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SAMPN,PERNO,PLANO,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,MODE,VEHNO,DYGOV,PRKTY,O_PRKTY,PXSTR,PRKMIN,PAYPK,PKAMT,PKUNT,PRKHW,O_PRKHW,EMPARK,TRANSYS,O_TRANSYS,ROUTE,ACTCNT,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,ACTDUR,TRIPDIST,PNAME,CITY,STATE,ZIP,XCORD,YCORD,RouteDistance,CTFIP,TRACT,PPrimaryCity,PSTFIP,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT
0,1031985,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,8,40,NaN,340,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN
1,1031985,1,2,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,2,12,53,22.0,231,7.647539,BENICIA SENIOR CITIZEN CENTER,BENICIA,CA,94510,HIDDEN,HIDDEN,13.285837,95.0,960500.0,BENICIA,6,0.052086,17.647568,1.0,0.969789,0.050512,17.114409
2,1031985,1,3,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13,13,2,59,20.0,826,7.647539,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,12.844300,95.0,252202.0,VALLEJO,6,0.052086,17.647568,2.0,1.011905,0.052706,17.857658
3,1031985,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,9,16,NaN,376,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN
4,1031985,2,2,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,26,10,43,10.0,77,3.411647,LOMA VISTA ELEMENTARY SCHOOL,VALLEJO,CA,94589,HIDDEN,HIDDEN,5.065893,95.0,950200.0,VALLEJO,6,0.052086,17.647568,1.0,1.119681,0.058320,19.759644

In [5]:
place['HHPER'] = place['SAMPN'].map(str) + place['PERNO'].map(str)

place['HHPERPLA'] = place['HHPER'].map(str) + place['PLANO'].map(str)

In [6]:
place['ST_num'] = place['ARR_HR'] + (place['ARR_MIN']/60)

place['ET_num'] = place['DEP_HR'] + (place['DEP_MIN']/60)

place.loc[ (place['ST_num'] > 24),
    'ST_num'] = place['ST_num'] - 24

place.loc[ (place['ET_num'] > 24),
    'ET_num'] = place['ET_num'] - 24

In [7]:
place.head()

,SAMPN,PERNO,PLANO,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,MODE,VEHNO,DYGOV,PRKTY,O_PRKTY,PXSTR,PRKMIN,PAYPK,PKAMT,PKUNT,PRKHW,O_PRKHW,EMPARK,TRANSYS,O_TRANSYS,ROUTE,ACTCNT,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,ACTDUR,TRIPDIST,PNAME,CITY,STATE,ZIP,XCORD,YCORD,RouteDistance,CTFIP,TRACT,PPrimaryCity,PSTFIP,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT,HHPER,HHPERPLA,ST_num,ET_num
0,1031985,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,8,40,NaN,340,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,3.000000,8.666667
1,1031985,1,2,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,2,12,53,22.0,231,7.647539,BENICIA SENIOR CITIZEN CENTER,BENICIA,CA,94510,HIDDEN,HIDDEN,13.285837,95.0,960500.0,BENICIA,6,0.052086,17.647568,1.0,0.969789,0.050512,17.114409,10319851,103198512,9.033333,12.883333
2,1031985,1,3,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13,13,2,59,20.0,826,7.647539,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,12.844300,95.0,252202.0,VALLEJO,6,0.052086,17.647568,2.0,1.011905,0.052706,17.857658,10319851,103198513,13.216667,2.983333
3,1031985,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,9,16,NaN,376,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN,10319852,103198521,3.000000,9.266667
4,1031985,2,2,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,26,10,43,10.0,77,3.411647,LOMA VISTA ELEMENTARY SCHOOL,VALLEJO,CA,94589,HIDDEN,HIDDEN,5.065893,95.0,950200.0,VALLEJO,6,0.052086,17.647568,1.0,1.119681,0.058320,19.759644,10319852,103198522,9.433333,10.716667

In [8]:
place1 = place[['HHPER','HHPERPLA','MODE','ST_num','ET_num','PNAME']]

### Rearrange activities table to allow classifying each location as work, home, or other.

In [9]:
# activity.STIME.astype(str).str.split(':',expand = True).astype(int).apply(lambda x: x[0]+x[1]/60.,axis = 1)

In [10]:
activity = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_ACTIVITY.csv')

activity.head()

,SAMPN,PERNO,PLANO,ACTNO,ACTOTH,ACTHH,ACTOR,ACTWK,ACTSC,ACTRG,ACTFR,ACTOT,APURP,O_APURP,STIME,ETIME,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT
0,1031985,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,03:00,07:00,0.052086,17.647568,NaN,NaN,NaN,NaN
1,1031985,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,07:00,08:10,0.052086,17.647568,NaN,NaN,NaN,NaN
2,1031985,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,08:10,08:40,0.052086,17.647568,NaN,NaN,NaN,NaN
3,1031985,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,09:02,12:48,0.052086,17.647568,1.0,0.969789,0.050512,17.114409
4,1031985,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13:13,13:38,0.052086,17.647568,2.0,1.011905,0.052706,17.857658

In [11]:
activity['HHPER'] = activity['SAMPN'].map(str) + activity['PERNO'].map(str)

activity['HHPERPLA'] = activity['HHPER'].map(str) + activity['PLANO'].map(str)

In [12]:
activity['count'] = activity.groupby('HHPERPLA').cumcount() + 1

activity.head()

,SAMPN,PERNO,PLANO,ACTNO,ACTOTH,ACTHH,ACTOR,ACTWK,ACTSC,ACTRG,ACTFR,ACTOT,APURP,O_APURP,STIME,ETIME,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT,HHPER,HHPERPLA,count
0,1031985,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,03:00,07:00,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,1
1,1031985,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,07:00,08:10,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,2
2,1031985,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,08:10,08:40,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,3
3,1031985,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,09:02,12:48,0.052086,17.647568,1.0,0.969789,0.050512,17.114409,10319851,103198512,1
4,1031985,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13:13,13:38,0.052086,17.647568,2.0,1.011905,0.052706,17.857658,10319851,103198513,1

In [13]:
activity2 = activity.pivot(index='HHPERPLA', columns='count', values='APURP').reset_index()

activity2.columns = ['HHPERPLA', 'APURP1', 'APURP2', 'APURP3']

activity2.head()

    HHPERPLA  APURP1  APURP2  APURP3
0  103198511     1.0     2.0     1.0
1  103198512    37.0     NaN     NaN
2  103198513     2.0     7.0     8.0
3  103198521     1.0     2.0     7.0
4  103198522    33.0     NaN     NaN

### Classify locations as school or not.

In [14]:
activity2['place'] = np.where(((activity2['APURP1'] == 17) | (activity2['APURP1'] == 18)), 'school', 'no')

activity2.head()

    HHPERPLA  APURP1  APURP2  APURP3 place
0  103198511     1.0     2.0     1.0    no
1  103198512    37.0     NaN     NaN    no
2  103198513     2.0     7.0     8.0    no
3  103198521     1.0     2.0     7.0    no
4  103198522    33.0     NaN     NaN    no

### Classify locations as home.

In [15]:
place2 = pd.merge(place1, activity2, on='HHPERPLA')

place2.loc[place2.PNAME == "HOME", 'place'] = "home"

place2.head()

,HHPER,HHPERPLA,MODE,ST_num,ET_num,PNAME,APURP1,APURP2,APURP3,place
0,10319851,103198511,NaN,3.000000,8.666667,HOME,1.0,2.0,1.0,home
1,10319851,103198512,6.0,9.033333,12.883333,BENICIA SENIOR CITIZEN CENTER,37.0,NaN,NaN,no
2,10319851,103198513,6.0,13.216667,2.983333,HOME,2.0,7.0,8.0,home
3,10319852,103198521,NaN,3.000000,9.266667,HOME,1.0,2.0,7.0,home
4,10319852,103198522,5.0,9.433333,10.716667,LOMA VISTA ELEMENTARY SCHOOL,33.0,NaN,NaN,no

### Assign XY coordinates and zones to home and work locations.

In [16]:
# od = pd.read_csv("/home/data/fall_2018/chts_persons_w_zone_ids.csv")

# od.head()

In [17]:
# od['HHPER'] = od['SAMPN'].map(str) + od['PERNO'].map(str)

# od = od[['HHPER','zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD_lookup','WYCORD_lookup']]

In [18]:
# place3 = pd.merge(place2, od, on='HHPER')

# place3.head()

In [19]:
# place3 = place3.loc[~(place3['zone_id_work'].isnull())]

In [20]:
# print (place2.HHPER.nunique())
# print (od.HHPER.nunique())
# print (place3.HHPER.nunique())

## Step 2. 
### Filter for people who go to school at least once during the day.

In [21]:
#selecting trips by people who go to work at least once

place4 = place2.groupby('HHPER').filter(lambda x : x['place'].isin(["school"]).any())

place4.head()

,HHPER,HHPERPLA,MODE,ST_num,ET_num,PNAME,APURP1,APURP2,APURP3,place
67,10320533,103205331,NaN,3.000000,7.500000,HOME,1.0,NaN,NaN,home
68,10320533,103205332,6.0,7.550000,16.166667,REYES ELEMENTARY SCHOOL,17.0,NaN,NaN,school
69,10320533,103205333,6.0,16.250000,17.583333,SACRED HEART CHURCH,33.0,NaN,NaN,no
70,10320533,103205334,6.0,17.750000,18.000000,HOME,1.0,NaN,NaN,home
71,10320533,103205335,6.0,18.333333,20.000000,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,36.0,NaN,NaN,no

In [22]:
print (place2.HHPER.nunique())
# print (od.HHPER.nunique())
# print (place3.HHPER.nunique())
print (place4.HHPER.nunique())

108778
9944

In [23]:
place5 = place4[['HHPER', 'HHPERPLA','place', 'PNAME','ST_num','ET_num','MODE']].copy()

place5.head()

,HHPER,HHPERPLA,place,PNAME,ST_num,ET_num,MODE
67,10320533,103205331,home,HOME,3.000000,7.500000,NaN
68,10320533,103205332,school,REYES ELEMENTARY SCHOOL,7.550000,16.166667,6.0
69,10320533,103205333,no,SACRED HEART CHURCH,16.250000,17.583333,6.0
70,10320533,103205334,home,HOME,17.750000,18.000000,6.0
71,10320533,103205335,no,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,20.000000,6.0

### Change "MODE" column from mode-to to mode-from:

In [24]:
place5['MODE_NEW'] = place5.groupby('HHPER', group_keys=False).MODE.shift(-1)

place5.head(n=10)

,HHPER,HHPERPLA,place,PNAME,ST_num,ET_num,MODE,MODE_NEW
67,10320533,103205331,home,HOME,3.000000,7.500000,NaN,6.0
68,10320533,103205332,school,REYES ELEMENTARY SCHOOL,7.550000,16.166667,6.0,6.0
69,10320533,103205333,no,SACRED HEART CHURCH,16.250000,17.583333,6.0,6.0
70,10320533,103205334,home,HOME,17.750000,18.000000,6.0,6.0
71,10320533,103205335,no,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,20.000000,6.0,6.0
72,10320533,103205336,home,HOME,20.333333,2.983333,6.0,NaN
73,10320534,103205341,home,HOME,3.000000,7.500000,NaN,6.0
74,10320534,103205342,school,REYES ELEMENTARY SCHOOL,7.550000,16.166667,6.0,6.0
75,10320534,103205343,no,SACRED HEART CHURCH,16.250000,17.583333,6.0,6.0
76,10320534,103205344,home,HOME,17.750000,18.000000,6.0,6.0

## Step 3. Convert list of locations to list of trips

### 3a. Make trip IDs and list home-work and work-home modes by trip ID

In [25]:
def count_place(df):
    return df.join(df['place'].str.get_dummies()
                  .cumsum().add_suffix('_Count')).head(n=15)

trips = place5.groupby('HHPER', group_keys=False).apply(count_place)

trips.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:927: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  result = concat(values, axis=self.axis)

,ET_num,HHPER,HHPERPLA,MODE,MODE_NEW,PNAME,ST_num,home_Count,no_Count,place,school_Count
67,7.500000,10320533,103205331,NaN,6.0,HOME,3.000000,1.0,0.0,home,0
68,16.166667,10320533,103205332,6.0,6.0,REYES ELEMENTARY SCHOOL,7.550000,1.0,0.0,school,1
69,17.583333,10320533,103205333,6.0,6.0,SACRED HEART CHURCH,16.250000,1.0,1.0,no,1
70,18.000000,10320533,103205334,6.0,6.0,HOME,17.750000,2.0,1.0,home,1
71,20.000000,10320533,103205335,6.0,6.0,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,2.0,2.0,no,1

In [26]:
neverhome = trips[trips.home_Count.isnull()]

neverathome = neverhome.HHPER.unique()

neverhome.HHPER.nunique()

109

In [27]:
trips = trips[~trips.HHPER.isin(neverathome)]

In [28]:
# personsnew3["home_Count"].fillna(0, inplace=True)

# personsnew3["no_Count"].fillna(0, inplace=True)

trips["trip_ID"] = trips["school_Count"].map(str) + trips["home_Count"].map(str)

trips["HHPERTRIP"] = trips["HHPER"].map(str) + trips["trip_ID"].map(str)

trips['count'] = trips.groupby('HHPERTRIP').cumcount() + 1

trips.head(n=20)

,ET_num,HHPER,HHPERPLA,MODE,MODE_NEW,PNAME,ST_num,home_Count,no_Count,place,school_Count,trip_ID,HHPERTRIP,count
67,7.500000,10320533,103205331,NaN,6.0,HOME,3.000000,1.0,0.0,home,0,01.0,1032053301.0,1
68,16.166667,10320533,103205332,6.0,6.0,REYES ELEMENTARY SCHOOL,7.550000,1.0,0.0,school,1,11.0,1032053311.0,1
69,17.583333,10320533,103205333,6.0,6.0,SACRED HEART CHURCH,16.250000,1.0,1.0,no,1,11.0,1032053311.0,2
70,18.000000,10320533,103205334,6.0,6.0,HOME,17.750000,2.0,1.0,home,1,12.0,1032053312.0,1
71,20.000000,10320533,103205335,6.0,6.0,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,2.0,2.0,no,1,12.0,1032053312.0,2
72,2.983333,10320533,103205336,6.0,NaN,HOME,20.333333,3.0,2.0,home,1,13.0,1032053313.0,1
73,7.500000,10320534,103205341,NaN,6.0,HOME,3.000000,1.0,0.0,home,0,01.0,1032053401.0,1
74,16.166667,10320534,103205342,6.0,6.0,REYES ELEMENTARY SCHOOL,7.550000,1.0,0.0,school,1,11.0,1032053411.0,1
75,17.583333,10320534,103205343,6.0,6.0,SACRED HEART CHURCH,16.250000,1.0,1.0,no,1,11.0,1032053411.0,2
76,18.000000,10320534,103205344,6.0,6.0,HOME,17.750000,2.0,1.0,home,1,12.0,1032053412.0,1
77,20.000000,10320534,103205345,6.0,6.0,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,2.0,2.0,no,1,12.0,1032053412.0,2
78,2.983333,10320534,103205346,6.0,NaN,HOME,20.333333,3.0,2.0,home,1,13.0,1032053413.0,1
79,7.500000,10320535,103205351,NaN,6.0,HOME,3.000000,1.0,0.0,home,0,01.0,1032053501.0,1
80,16.166667,10320535,103205352,6.0,6.0,REYES ELEMENTARY SCHOOL,7.550000,1.0,0.0,school,1,11.0,1032053511.0,1
81,16.500000,10320535,103205353,6.0,6.0,SACRED HEART CHURCH,16.250000,1.0,1.0,no,1,11.0,1032053511.0,2
82,18.000000,10320535,103205354,6.0,6.0,HOME,16.666667,2.0,1.0,home,1,12.0,1032053512.0,1
83,20.000000,10320535,103205355,6.0,6.0,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,2.0,2.0,no,1,12.0,1032053512.0,2
84,2.983333,10320535,103205356,6.0,NaN,HOME,20.333333,3.0,2.0,home,1,13.0,1032053513.0,1
144,6.000000,10351982,103519821,NaN,5.0,HOME,3.000000,1.0,0.0,home,0,01.0,1035198201.0,1
145,10.000000,10351982,103519822,5.0,5.0,PLUMBING MASTER,6.250000,1.0,1.0,no,0,01.0,1035198201.0,2

In [29]:
trips['count'].max()

15

In [30]:
trips1 = trips.pivot(index='HHPERTRIP', columns='count', values='MODE_NEW').reset_index()

trips1.columns = ['HHPERTRIP', 'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                       'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14', 'MODE15']

trips1.head()

,HHPERTRIP,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,1032053301.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1032053311.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1032053312.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1032053313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1032053401.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
trips = pd.merge(trips, trips1, on='HHPERTRIP')

trips.head()

,ET_num,HHPER,HHPERPLA,MODE,MODE_NEW,PNAME,ST_num,home_Count,no_Count,place,school_Count,trip_ID,HHPERTRIP,count,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,7.500000,10320533,103205331,NaN,6.0,HOME,3.000000,1.0,0.0,home,0,01.0,1032053301.0,1,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16.166667,10320533,103205332,6.0,6.0,REYES ELEMENTARY SCHOOL,7.550000,1.0,0.0,school,1,11.0,1032053311.0,1,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17.583333,10320533,103205333,6.0,6.0,SACRED HEART CHURCH,16.250000,1.0,1.0,no,1,11.0,1032053311.0,2,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18.000000,10320533,103205334,6.0,6.0,HOME,17.750000,2.0,1.0,home,1,12.0,1032053312.0,1,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20.000000,10320533,103205335,6.0,6.0,KEEP THE LIGHTS ON AFTER SCHOOL: FESTIVAL,18.333333,2.0,2.0,no,1,12.0,1032053312.0,2,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3b. Isolate rows that identify start of home-school or school-home trips.

In [32]:
#List of all departures from home or school by students.
homeschooltrips = trips.loc[trips['place'].isin(["home","school"])]

In [33]:
homeschooltrips['trip_ET'] = homeschooltrips.groupby('HHPER', group_keys=False).ST_num.shift(-1)

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
homeschooltrips = homeschooltrips[['HHPER', 'HHPERTRIP','place', 'ST_num','ET_num','trip_ET','MODE_NEW',
                               'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14','MODE15']].copy()

homeschooltrips.head(n=10)

,HHPER,HHPERTRIP,place,ST_num,ET_num,trip_ET,MODE_NEW,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,10320533,1032053301.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10320533,1032053311.0,school,7.550000,16.166667,17.750000,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10320533,1032053312.0,home,17.750000,18.000000,20.333333,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10320533,1032053313.0,home,20.333333,2.983333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10320534,1032053401.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10320534,1032053411.0,school,7.550000,16.166667,17.750000,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10320534,1032053412.0,home,17.750000,18.000000,20.333333,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10320534,1032053413.0,home,20.333333,2.983333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10320535,1032053501.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10320535,1032053511.0,school,7.550000,16.166667,16.666667,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3c. Identify trips where the departure place is not the same as the one before it. This captures 'from home' trips that end at school and 'from school' trips that end at home. 

### However, it also captures end-of-day 'from home' trips that don't end at school and 'from school' trips that don't end at home.

In [35]:
#Taking last trips where the place is not the same as the one before it and/or the person is not the same as the one before it.

tripsI = homeschooltrips.loc[(homeschooltrips.HHPER != homeschooltrips.HHPER.shift(-1)) | (homeschooltrips.place != homeschooltrips.place.shift(-1))]

tripsI.head(n=10)

,HHPER,HHPERTRIP,place,ST_num,ET_num,trip_ET,MODE_NEW,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,10320533,1032053301.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10320533,1032053311.0,school,7.550000,16.166667,17.750000,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10320533,1032053313.0,home,20.333333,2.983333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10320534,1032053401.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10320534,1032053411.0,school,7.550000,16.166667,17.750000,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10320534,1032053413.0,home,20.333333,2.983333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10320535,1032053501.0,home,3.000000,7.500000,7.550000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10320535,1032053511.0,school,7.550000,16.166667,16.666667,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10320535,1032053513.0,home,20.333333,2.983333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10351982,1035198201.0,home,3.000000,6.000000,16.833333,5.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3d. Identify end-of-day 'from home' trips that end at school, as well as end-of-day 'from school' trips that don't end at home.

In [36]:
#Identifying people whose last home or school location is school.

tripsJ = homeschooltrips.loc[homeschooltrips.HHPER != homeschooltrips.HHPER.shift(-1)]

tripsJ.groupby(['place']).count()

,HHPER,HHPERTRIP,ST_num,ET_num,trip_ET,MODE_NEW,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
place,,,,,,,,,,,,,,,,,,,,,
home,9749,9749,9749,9749,0,111,111,42,22,12,9,4,4,2,2,1,1,1,1,1,1
school,86,86,86,86,0,70,70,32,21,13,9,6,6,6,6,4,2,1,0,0,0

In [37]:
tripsK = tripsJ.loc[tripsJ['place'].isin(["school"])]

#### Ends day at school (late-night studying). End-of-day 'from home' trip ends at school:

In [38]:
tripsL = tripsK[(tripsK['ET_num'] >= 2.98) & (tripsK['ET_num'] <= 2.985)]

nightshift = tripsL.HHPER.unique()

tripsL.HHPER.nunique()

16

#### Leaves school but does not go home at end of day (to airport, second home, or another location). End-of-day 'from school' trip does not end at home:

In [39]:
tripsM = tripsK[(tripsK['ET_num'] <= 2.98) | (tripsK['ET_num'] >= 2.985)]

dontgohome = tripsM.HHPERTRIP.unique()

tripsM.HHPER.nunique()

70

### 3e. Get rid of last 'from home' trip for all those except late-night students, and get rid of last school activity for late-night students.

In [40]:
#Selecting all but people whose last 'from home' trip is to school. 
tripsII = tripsI[~tripsI.HHPER.isin(nightshift)] 

#Selecting people whose last 'from home' trip is to school.
tripsIII = tripsI[tripsI.HHPER.isin(nightshift)]

#Get rid of last work activity for late-night students.
tripsIII = tripsIII[(tripsIII['ET_num'] <= 2.9833) | (tripsIII['ET_num'] >= 2.9834)]

tripsIII.head()

print (tripsII.HHPER.nunique())

print (tripsIII.HHPER.nunique())

9819
16

In [41]:
#Getting rid of last 'from home' trip for all those except people going to school.

tripsN = tripsII.groupby('HHPER').apply(lambda x: x.iloc[:-1] if (x.iloc[-1, x.columns.get_loc('place')] == "home") else x).reset_index(drop=True)

tripsN.HHPER.nunique()

9817

In [42]:
#Adding back people going to work as last 'from home' trip.
tripsP = pd.concat([tripsN,tripsIII])

### 3f. Identify people who go from home to school or from school to home more than once.

In [43]:
def count_place(df):
    return df.join(df['place'].str.get_dummies()
                  .cumsum().add_suffix('_Count')).head(n=15)

tripsP = tripsP.groupby('HHPER', group_keys=False).apply(count_place)

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:927: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  result = concat(values, axis=self.axis)

In [44]:
tripsP = tripsP[['HHPER', 'HHPERTRIP','place', 'home_Count','school_Count',
                 'ST_num','ET_num','trip_ET','MODE_NEW',
                'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14','MODE15']].copy()

tripsP.head()

,HHPER,HHPERTRIP,place,home_Count,school_Count,ST_num,ET_num,trip_ET,MODE_NEW,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,10320533,1032053301.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10320533,1032053311.0,school,1.0,1.0,7.55,16.166667,17.75,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10320534,1032053401.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10320534,1032053411.0,school,1.0,1.0,7.55,16.166667,17.75,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10320535,1032053501.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
schoolweird1 = tripsP.groupby('HHPER').filter(lambda x : x['home_Count'].isin(["2"]).any())

schoolweird1a = schoolweird1.HHPER.unique()

schoolweird2 = tripsP.groupby('HHPER').filter(lambda x : x['school_Count'].isin(["2"]).any())

schoolweird2a = schoolweird2.HHPER.unique()

print (schoolweird1.HHPER.nunique())
print (schoolweird2.HHPER.nunique())
print (tripsP.HHPER.nunique())

96
96
9833

In [46]:
tripsP = tripsP[~tripsP.HHPER.isin(schoolweird1a)] 

tripsP = tripsP[~tripsP.HHPER.isin(schoolweird2a)] 

tripsP.HHPER.nunique()

9737

### 3g. Add columns with dwell time at the origin and travel time to arrival location.

In [47]:
tripsP['origin_ST'] = tripsP.groupby('HHPER', group_keys=False).trip_ET.shift(+1)

In [48]:
ZZ = tripsP['trip_ET'].groupby(tripsP['HHPER']).apply(lambda x: x.iloc[-1]).reset_index()

ZZ.columns = ['HHPER','last_tt']

ZZ.head()

      HHPER    last_tt
0  10320533  17.750000
1  10320534  17.750000
2  10320535  16.666667
3  10351982  19.583333
4  10379521   8.166667

In [49]:
tripsP = pd.merge(tripsP, ZZ, on='HHPER')

In [50]:
#Identify people who don't start and end day in same location (so can't assume equivalent schedules day-to-day).

nonparallel1 = place2['PNAME'].groupby(place2['HHPER']).apply(lambda x: x.iloc[0]).reset_index()

nonparallel1.columns = ['HHPER','first_place']

nonparallel2 = place2['PNAME'].groupby(place2['HHPER']).apply(lambda x: x.iloc[-1]).reset_index()

nonparallel2.columns = ['HHPER','last_place']

nonparallel = pd.merge(nonparallel1, nonparallel2, on='HHPER')

nonparallel = nonparallel.loc[nonparallel['first_place']!=nonparallel['last_place']]

nonparallelIDs = nonparallel.HHPER.unique()

In [51]:
len(nonparallelIDs)

5330

In [52]:
tripsPa = tripsP[~tripsP.HHPER.isin(nonparallelIDs)] 
tripsPb = tripsP[tripsP.HHPER.isin(nonparallelIDs)]

In [53]:
tripsPa["origin_ST"].fillna(tripsPa['last_tt'], inplace=True)

tripsPa.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,HHPER,HHPERTRIP,place,home_Count,school_Count,ST_num,ET_num,trip_ET,MODE_NEW,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15,origin_ST,last_tt
0,10320533,1032053301.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.750000,17.750000
1,10320533,1032053311.0,school,1.0,1.0,7.55,16.166667,17.75,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.550000,17.750000
2,10320534,1032053401.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.750000,17.750000
3,10320534,1032053411.0,school,1.0,1.0,7.55,16.166667,17.75,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.550000,17.750000
4,10320535,1032053501.0,home,1.0,0.0,3.00,7.500000,7.55,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.666667,16.666667

In [54]:
tripsP = pd.concat([tripsPa,tripsPb])

In [55]:
tripsP["origin_dwell"] = tripsP["ET_num"] - tripsP["origin_ST"]

tripsP.loc[ (tripsP['origin_dwell'] < 0),
    'origin_dwell'] = tripsP['origin_dwell'] + 24

In [56]:
tripsP['TT'] = tripsP['trip_ET'] - tripsP['ET_num']

tripsP.loc[ (tripsP['TT'] < 0),
    'TT'] = tripsP['TT'] + 24

In [57]:
tripsW = tripsP.loc[(tripsP['origin_dwell'] + tripsP['TT']) == 24]

tripsW.HHPER.nunique()

5

In [58]:
tripsP.loc[(tripsP['origin_dwell'] + tripsP['TT']) == 24,
           'origin_dwell'] = np.NaN

In [59]:
tripsP=tripsP.rename(columns = {'place':'origin','ET_num':'origin_ET'})

In [60]:
trips3 = tripsP[['HHPER', 'HHPERTRIP','origin',
                 'origin_dwell','origin_ST','origin_ET','trip_ET','TT',
                'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14','MODE15']].copy()

In [61]:
# trips3['Oxcord'] = np.where(trips3['origin'] == "home", trips3['HXCORD'], 'no')

# trips3.loc[trips3.origin == "work", 'Oxcord'] = trips3['WXCORD']

# trips3['Oycord'] = np.where(trips3['origin'] == "home", trips3['HYCORD'], 'no')

# trips3.loc[trips3.origin == "work", 'Oycord'] = trips3['WYCORD']

# trips3['Dxcord'] = np.where(trips3['origin'] == "home", trips3['WXCORD'], 'no')

# trips3.loc[trips3.origin == "work", 'Dxcord'] = trips3['HXCORD']

# trips3['Dycord'] = np.where(trips3['origin'] == "home", trips3['WYCORD'], 'no')

# trips3.loc[trips3.origin == "work", 'Dycord'] = trips3['HYCORD']

# trips3['Ozone'] = np.where(trips3['origin'] == "home", trips3['zone_id_home'], 'no')

# trips3.loc[trips3.origin == "work", 'Ozone'] = trips3['zone_id_work']

# trips3['Dzone'] = np.where(trips3['origin'] == "home", trips3['zone_id_work'], 'no')

# trips3.loc[trips3.origin == "work", 'Dzone'] = trips3['zone_id_home']

In [62]:
tripsR = trips3[['HHPER', 'HHPERTRIP','origin',
                 'origin_dwell','origin_ST','origin_ET','trip_ET','TT',
                 'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14','MODE15']].copy()

In [63]:
tripsR.head()

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15
0,10320533,1032053301.0,home,13.750000,17.750000,7.500000,7.55,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10320533,1032053311.0,school,8.616667,7.550000,16.166667,17.75,1.583333,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10320534,1032053401.0,home,13.750000,17.750000,7.500000,7.55,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10320534,1032053411.0,school,8.616667,7.550000,16.166667,17.75,1.583333,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10320535,1032053501.0,home,14.833333,16.666667,7.500000,7.55,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 4. Assign modes: drive alone, shared, bike, walk, walkTransitwalk, driveTransitwalk, walkTransitdrive.

In [64]:
tripsR['MODE'] = np.where((((tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
                          'drive_transit','no')

In [65]:
tripsR.loc[((tripsR['MODE']== 'drive_transit') & (tripsR['origin'] == 'school')),
           'MODE'] = 'WTranDr'

tripsR.loc[((tripsR['MODE']== 'drive_transit') & (tripsR['origin'] == 'home')),
           'MODE'] = 'DrTranW'

In [66]:
tripsR.loc[(((tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([18.0])) |
                             (tripsR['MODE2'].isin([18.0])) |
                             (tripsR['MODE3'].isin([18.0])) |
                             (tripsR['MODE4'].isin([18.0])) |
                             (tripsR['MODE5'].isin([18.0])) |
                             (tripsR['MODE6'].isin([18.0])) |
                             (tripsR['MODE7'].isin([18.0])) |
                             (tripsR['MODE8'].isin([18.0])) |
                             (tripsR['MODE9'].isin([18.0])) |
                             (tripsR['MODE10'].isin([18.0])) |
                             (tripsR['MODE11'].isin([18.0])) |
                             (tripsR['MODE12'].isin([18.0])) |
                             (tripsR['MODE13'].isin([18.0])) |
                             (tripsR['MODE14'].isin([18.0])) |
                             (tripsR['MODE15'].isin([18.0])))),
           'MODE'] = 'drive_schoolbus'

In [67]:
tripsR.loc[((tripsR['MODE']== 'drive_schoolbus') & (tripsR['origin'] == 'school')),
           'MODE'] = 'WSBusDr'

tripsR.loc[((tripsR['MODE']== 'drive_schoolbus') & (tripsR['origin'] == 'home')),
           'MODE'] = 'DrSBusW'

In [68]:
tripsR.loc[(((tripsR['MODE1'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE2'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE3'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE4'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE5'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE6'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE7'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE8'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE9'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE10'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE11'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE12'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE13'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE14'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE15'].isin([5.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
           'MODE'] = 'drive_alone'

In [69]:
tripsR.loc[(((tripsR['MODE1'].isin([6.0,7.0])) |
                                                           (tripsR['MODE2'].isin([6.0,7.0])) |
                                                           (tripsR['MODE3'].isin([6.0,7.0])) |
                                                           (tripsR['MODE4'].isin([6.0,7.0])) |
                                                           (tripsR['MODE5'].isin([6.0,7.0])) |
                                                           (tripsR['MODE6'].isin([6.0,7.0])) |
                                                           (tripsR['MODE7'].isin([6.0,7.0])) |
                                                           (tripsR['MODE8'].isin([6.0,7.0])) |
                                                           (tripsR['MODE9'].isin([6.0,7.0])) |
                                                           (tripsR['MODE10'].isin([6.0,7.0])) |
                                                           (tripsR['MODE11'].isin([6.0,7.0])) |
                                                           (tripsR['MODE12'].isin([6.0,7.0])) |
                                                           (tripsR['MODE13'].isin([6.0,7.0])) |
                                                           (tripsR['MODE14'].isin([6.0,7.0])) |
                                                           (tripsR['MODE15'].isin([6.0,7.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
           'MODE'] = 'shared'

In [70]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
           ((tripsR['MODE1'].isin([1.0])) |
            (tripsR['MODE2'].isin([1.0])) |
            (tripsR['MODE3'].isin([1.0])) |
            (tripsR['MODE4'].isin([1.0])) |
            (tripsR['MODE5'].isin([1.0])) |
            (tripsR['MODE6'].isin([1.0])) |
            (tripsR['MODE7'].isin([1.0])) |
            (tripsR['MODE8'].isin([1.0])) |
            (tripsR['MODE9'].isin([1.0])) |
            (tripsR['MODE10'].isin([1.0])) |
            (tripsR['MODE11'].isin([1.0])) |
            (tripsR['MODE12'].isin([1.0])) |
            (tripsR['MODE13'].isin([1.0])) |
            (tripsR['MODE14'].isin([1.0])) |
            (tripsR['MODE15'].isin([1.0])))),
           'MODE'] = 'WTranW'

In [71]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([18.0])) |
                             (tripsR['MODE2'].isin([18.0])) |
                             (tripsR['MODE3'].isin([18.0])) |
                             (tripsR['MODE4'].isin([18.0])) |
                             (tripsR['MODE5'].isin([18.0])) |
                             (tripsR['MODE6'].isin([18.0])) |
                             (tripsR['MODE7'].isin([18.0])) |
                             (tripsR['MODE8'].isin([18.0])) |
                             (tripsR['MODE9'].isin([18.0])) |
                             (tripsR['MODE10'].isin([18.0])) |
                             (tripsR['MODE11'].isin([18.0])) |
                             (tripsR['MODE12'].isin([18.0])) |
                             (tripsR['MODE13'].isin([18.0])) |
                             (tripsR['MODE14'].isin([18.0])) |
                             (tripsR['MODE15'].isin([18.0])))),
#            ((tripsR['MODE1'].isin([1.0])) |
#             (tripsR['MODE2'].isin([1.0])) |
#             (tripsR['MODE3'].isin([1.0])) |
#             (tripsR['MODE4'].isin([1.0])) |
#             (tripsR['MODE5'].isin([1.0])) |
#             (tripsR['MODE6'].isin([1.0])) |
#             (tripsR['MODE7'].isin([1.0])) |
#             (tripsR['MODE8'].isin([1.0])) |
#             (tripsR['MODE9'].isin([1.0])) |
#             (tripsR['MODE10'].isin([1.0])) |
#             (tripsR['MODE11'].isin([1.0])) |
#             (tripsR['MODE12'].isin([1.0])) |
#             (tripsR['MODE13'].isin([1.0])) |
#             (tripsR['MODE14'].isin([1.0])) |
#             (tripsR['MODE15'].isin([1.0])))),
           'MODE'] = 'WSBusW'

In [72]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
            ((tripsR['MODE1'].isin([2.0])) |
            (tripsR['MODE2'].isin([2.0])) |
            (tripsR['MODE3'].isin([2.0])) |
            (tripsR['MODE4'].isin([2.0])) |
            (tripsR['MODE5'].isin([2.0])) |
            (tripsR['MODE6'].isin([2.0])) |
            (tripsR['MODE7'].isin([2.0])) |
            (tripsR['MODE8'].isin([2.0])) |
            (tripsR['MODE9'].isin([2.0])) |
            (tripsR['MODE10'].isin([2.0])) |
            (tripsR['MODE11'].isin([2.0])) |
            (tripsR['MODE12'].isin([2.0])) |
            (tripsR['MODE13'].isin([2.0])) |
            (tripsR['MODE14'].isin([2.0])) |
            (tripsR['MODE15'].isin([2.0])))), 'MODE'] = 'bike'

In [73]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE15'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE15'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
            ((~tripsR['MODE1'].isin([2.0])) &
            (~tripsR['MODE2'].isin([2.0])) &
            (~tripsR['MODE3'].isin([2.0])) &
            (~tripsR['MODE4'].isin([2.0])) &
            (~tripsR['MODE5'].isin([2.0])) &
            (~tripsR['MODE6'].isin([2.0])) &
            (~tripsR['MODE7'].isin([2.0])) &
            (~tripsR['MODE8'].isin([2.0])) &
            (~tripsR['MODE9'].isin([2.0])) &
            (~tripsR['MODE10'].isin([2.0])) &
            (~tripsR['MODE11'].isin([2.0])) &
            (~tripsR['MODE12'].isin([2.0])) &
            (~tripsR['MODE13'].isin([2.0])) &
            (~tripsR['MODE14'].isin([2.0]))) &
            ((tripsR['MODE1'].isin([1.0])) |
            (tripsR['MODE2'].isin([1.0])) |
            (tripsR['MODE3'].isin([1.0])) |
            (tripsR['MODE4'].isin([1.0])) |
            (tripsR['MODE5'].isin([1.0])) |
            (tripsR['MODE6'].isin([1.0])) |
            (tripsR['MODE7'].isin([1.0])) |
            (tripsR['MODE8'].isin([1.0])) |
            (tripsR['MODE9'].isin([1.0])) |
            (tripsR['MODE10'].isin([1.0])) |
            (tripsR['MODE11'].isin([1.0])) |
            (tripsR['MODE12'].isin([1.0])) |
            (tripsR['MODE13'].isin([1.0])) |
            (tripsR['MODE14'].isin([1.0])) |
            (tripsR['MODE15'].isin([1.0])))), 'MODE'] = 'walk'

In [74]:
tripsR.head(n=25)

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE15,MODE
0,10320533,1032053301.0,home,13.750000,17.750000,7.500000,7.550000,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
1,10320533,1032053311.0,school,8.616667,7.550000,16.166667,17.750000,1.583333,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
2,10320534,1032053401.0,home,13.750000,17.750000,7.500000,7.550000,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
3,10320534,1032053411.0,school,8.616667,7.550000,16.166667,17.750000,1.583333,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
4,10320535,1032053501.0,home,14.833333,16.666667,7.500000,7.550000,0.050000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
5,10320535,1032053511.0,school,8.616667,7.550000,16.166667,16.666667,0.500000,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
6,10351982,1035198201.0,home,10.416667,19.583333,6.000000,16.833333,10.833333,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
7,10351982,1035198211.0,school,2.416667,16.833333,19.250000,19.583333,0.333333,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
8,10379521,1037952101.0,home,21.833333,8.166667,6.000000,6.250000,0.250000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
9,10379521,1037952111.0,school,1.750000,6.250000,8.000000,8.166667,0.166667,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
10,10413053,1041305301.0,home,15.750000,15.000000,6.750000,6.916667,0.166667,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
11,10413053,1041305311.0,school,7.833333,6.916667,14.750000,15.000000,0.250000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bike
12,10417663,1041766301.0,home,13.250000,18.750000,8.000000,8.500000,0.500000,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
13,10417663,1041766311.0,school,9.666667,8.500000,18.166667,18.750000,0.583333,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
14,10447671,1044767102.0,home,22.250000,15.500000,13.750000,14.000000,0.250000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
15,10447671,1044767112.0,school,0.416667,14.000000,14.416667,15.500000,1.083333,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
16,10447673,1044767301.0,home,13.000000,18.166667,7.166667,7.333333,0.166667,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
17,10447673,1044767311.0,school,7.483333,7.333333,14.816667,18.166667,3.350000,1.0,15.0,1.0,1.0,15.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTranW
18,10447674,1044767401.0,home,16.750000,14.750000,7.500000,7.750000,0.250000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
19,10447674,1044767411.0,school,6.483333,7.750000,14.233333,14.750000,0.516667,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
20,10447675,1044767501.0,home,19.383333,11.366667,6.750000,8.000000,1.250000,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
21,10447675,1044767511.0,school,2.333333,8.000000,10.333333,11.366667,1.033333,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
22,10454903,1045490301.0,home,15.916667,15.750000,7.666667,8.000000,0.333333,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
23,10454903,1045490311.0,school,6.916667,8.000000,14.916667,15.750000,0.833333,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,walk
24,10487308,1048730801.0,home,14.000000,20.500000,10.500000,11.000000,0.500000,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone

In [75]:
strange_mode = tripsR[tripsR.MODE == "no"]

strange_mode.HHPER.nunique()

58

In [76]:
strange_mode.MODE1.unique()

array([14.,  4., 21., 11.,  2.,  3.])

In [77]:
#Get rid of strange-mode trips
tripsR = tripsR[tripsR.MODE != "no"]

In [78]:
tripsU = tripsR[['HHPER', 'HHPERTRIP','origin', 'origin_dwell',
 'origin_ST',
 'origin_ET',
 'trip_ET',
 'TT',
 'MODE']].copy()

tripsU.head()

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,MODE
0,10320533,1032053301.0,home,13.750000,17.750000,7.500000,7.55,0.050000,shared
1,10320533,1032053311.0,school,8.616667,7.550000,16.166667,17.75,1.583333,shared
2,10320534,1032053401.0,home,13.750000,17.750000,7.500000,7.55,0.050000,shared
3,10320534,1032053411.0,school,8.616667,7.550000,16.166667,17.75,1.583333,shared
4,10320535,1032053501.0,home,14.833333,16.666667,7.500000,7.55,0.050000,shared

In [79]:
tripsU.HHPER.nunique()

9699

In [80]:
# tripsU.loc[ (tripsU['origin_ST'] > 24),
#     'origin_ST'] = tripsU['origin_ST'] - 24

# tripsU.loc[ (tripsU['origin_ET'] > 24),
#     'origin_ET'] = tripsU['origin_ET'] - 24

# tripsU.loc[ (tripsU['trip_ET'] > 24),
#     'trip_ET'] = tripsU['trip_ET'] - 24

In [81]:
tripsU.describe()

       origin_dwell     origin_ST     origin_ET       trip_ET            TT
count  19097.000000  19102.000000  19317.000000  19248.000000  19248.000000
mean      11.338319     12.174912     11.603917     12.195956      0.619145
std        5.147515      4.272990      4.015785      4.271729      1.129306
min        0.016667      0.166667      2.500000      0.166667      0.016667
25%        6.916667      8.000000      7.666667      8.000000      0.166667
50%       10.416667     12.416667     11.916667     12.500000      0.250000
75%       16.166667     15.583333     15.000000     15.583333      0.500000
max       23.666667     24.000000     23.500000     24.000000     15.750000

In [82]:
# tripsYY = tripsU[tripsU['HHPER'].isin(nonparallelIDs)]

# tripsYY.HHPER.nunique()

In [83]:
# tripsYY.head(n=15)

In [84]:
# nulls = tripsU[pd.isnull(tripsU).any(axis=1)]

# nulls.HHPER.nunique()

In [85]:
# tripsX = nulls[~nulls['HHPER'].isin(nonparallelIDs)]

# XX = tripsX.HHPER.unique()

In [86]:
# place3[place3['HHPER'].isin(XX)]

In [87]:
# tripsX.head(n=25)

In [88]:
long = tripsU.loc[(tripsU['origin_dwell'] > 20) & (tripsU['origin'] == 'school')]

long2 = long.HHPER.unique()

odd = place2[place2.HHPER.isin(long2)]

odd.HHPER.nunique()

0

In [89]:
tripsU = tripsU[~(tripsU['HHPER'].isin(long2))]

In [90]:
# tripsU.to_csv('/home/emma/ual_model_workspace/spring-2019-models/notebooks-emma/HStrips_021819.csv')

In [91]:
od = pd.read_csv('/home/data/fall_2018/chts_persons_w_zone_ids.csv')

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (42,95,99,106,152,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
od['HHPER'] = od['SAMPN'].map(str) + od['PERNO'].map(str)

od = od[['HHPER','HXCORD','HYCORD','SXCORD_lookup','SYCORD_lookup']]

In [93]:
od = od.dropna(axis = 0, how ='any')

In [94]:
od.HHPER.nunique()

5634

In [95]:
tripsU['HHPER'] = tripsU['HHPER'].map(str)

In [96]:
tripsU = pd.merge(tripsU, od, on='HHPER')

tripsU.HHPER.nunique()

2475

In [97]:
tripsU.head()

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,MODE,HXCORD,HYCORD,SXCORD_lookup,SYCORD_lookup
0,10379521,1037952101.0,home,21.833333,8.166667,6.000000,6.250000,0.250000,walk,-122.138775,37.467578,-122.144081,37.471522
1,10379521,1037952111.0,school,1.750000,6.250000,8.000000,8.166667,0.166667,walk,-122.138775,37.467578,-122.144081,37.471522
2,10417663,1041766301.0,home,13.250000,18.750000,8.000000,8.500000,0.500000,shared,-122.414811,37.610585,-122.483695,37.754624
3,10417663,1041766311.0,school,9.666667,8.500000,18.166667,18.750000,0.583333,shared,-122.414811,37.610585,-122.483695,37.754624
4,10503854,1050385401.0,home,16.166667,15.333333,7.500000,7.833333,0.333333,shared,-122.252545,37.537021,-122.266181,37.495035

In [98]:
tripsU.rename(columns = {'SXCORD_lookup':'SXCORD','SYCORD_lookup':'SYCORD'},inplace = True)

In [ ]:
tripsU.to_csv('/home/emma/ual_model_workspace/spring-2019-models/notebooks-emma/HStrips_022619.csv')