In [3]:
import pandas as pd
# import pandana as pdna
import time
import numpy as np
import matplotlib.pyplot as plt
import os

# import matplotlib
# matplotlib.style.use('ggplot')

%matplotlib inline

pd.options.display.max_columns = 80

## Step 1.
### Prepare person and place tables.

In [4]:
os.listdir('/home/data/CHTS_csv_format/data')

['Deliv_HH.csv',
 'Deliv_ACTIVITY.csv',
 'Deliv_LD.csv',
 'LookUp_LD.csv',
 'LookUp_Home.csv',
 'ASSN_TravelDate.csv',
 'LookUp_PLACE.csv',
 'LookUp_PER.csv',
 'Deliv_PER.csv',
 'Deliv_VEH.csv',
 'Deliv_PLACE.csv']

In [275]:
person = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PER.csv')

person.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (40,60,93,97,104) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SAMPN,PERNO,RELAT,GEND,AGE,AGEB,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,CNTRY,LIC,USER,TRANS,TPTYP1,TPTYP2,TPTYP3,TPTYP4,TPTYP5,TPTYP6,TPTYP7,O_TPTYP,CLIP1,CLIP2,CLIP3,COMP,MET,PASSTL,FLEX,EMPLY,WKSTAT,O_WKSTAT,JOBS,WLOC,WNAME,WCITY,WSTAT,...,HVLOG,PTRIPS,TOLLF,TOLLR1,TOLLR2,TOLLR3,TOLLR4,TOLLR5,TOLLR6,TOLLR7,TOLLR8,TOLLR9,TOLLR10,TOLLB1,TOLLB2,TOLLB3,TOLLB4,TOLLB5,TOLLB6,TOLLB7,TOLLB8,TOLLB9,TOLLB10,HOVL,NOGOWHY,NOGOWHY_O,InComplete,Moto_trip,WCTFIP,WTRACT,SCTFIP,STRACT,WPrimaryCity,WSTFIP,W2PrimaryCity,W2STFIP,SPrimaryCity,SSTFIP,PERWGT,EXPPERWGT
0,1031985,1,1,1,74,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
1,1031985,2,2,2,73,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
2,1032036,1,1,1,46,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,SAN DIEGO,CA,...,NaN,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,73.0,17032.0,NaN,NaN,SAN DIEGO,6.0,NaN,NaN,NaN,NaN,1.223974,414.701494
3,1032036,2,2,2,47,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.863473,292.558373
4,1032036,3,3,1,15,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,73.0,17030.0,NaN,NaN,NaN,NaN,SAN DIEGO,6.0,0.941412,318.965100

In [276]:
place = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PLACE.csv')

place.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SAMPN,PERNO,PLANO,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,MODE,VEHNO,DYGOV,PRKTY,O_PRKTY,PXSTR,PRKMIN,PAYPK,PKAMT,PKUNT,PRKHW,O_PRKHW,EMPARK,TRANSYS,O_TRANSYS,ROUTE,ACTCNT,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,ACTDUR,TRIPDIST,PNAME,CITY,STATE,ZIP,XCORD,YCORD,RouteDistance,CTFIP,TRACT,PPrimaryCity,PSTFIP,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT
0,1031985,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,8,40,NaN,340,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN
1,1031985,1,2,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,2,12,53,22.0,231,7.647539,BENICIA SENIOR CITIZEN CENTER,BENICIA,CA,94510,HIDDEN,HIDDEN,13.285837,95.0,960500.0,BENICIA,6,0.052086,17.647568,1.0,0.969789,0.050512,17.114409
2,1031985,1,3,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13,13,2,59,20.0,826,7.647539,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,12.844300,95.0,252202.0,VALLEJO,6,0.052086,17.647568,2.0,1.011905,0.052706,17.857658
3,1031985,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,9,16,NaN,376,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN
4,1031985,2,2,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,26,10,43,10.0,77,3.411647,LOMA VISTA ELEMENTARY SCHOOL,VALLEJO,CA,94589,HIDDEN,HIDDEN,5.065893,95.0,950200.0,VALLEJO,6,0.052086,17.647568,1.0,1.119681,0.058320,19.759644

In [277]:
place['HHPER'] = place['SAMPN'].map(str) + place['PERNO'].map(str)

place['HHPERPLA'] = place['HHPER'].map(str) + place['PLANO'].map(str)

In [278]:
place['ST_num'] = place['ARR_HR'] + (place['ARR_MIN']/60)

place['ET_num'] = place['DEP_HR'] + (place['DEP_MIN']/60)

place.loc[ (place['ST_num'] > 24),
    'ST_num'] = place['ST_num'] - 24

place.loc[ (place['ET_num'] > 24),
    'ET_num'] = place['ET_num'] - 24

In [279]:
place.head()

,SAMPN,PERNO,PLANO,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,MODE,VEHNO,DYGOV,PRKTY,O_PRKTY,PXSTR,PRKMIN,PAYPK,PKAMT,PKUNT,PRKHW,O_PRKHW,EMPARK,TRANSYS,O_TRANSYS,ROUTE,ACTCNT,ARR_HR,ARR_MIN,DEP_HR,DEP_MIN,TRIPDUR,ACTDUR,TRIPDIST,PNAME,CITY,STATE,ZIP,XCORD,YCORD,RouteDistance,CTFIP,TRACT,PPrimaryCity,PSTFIP,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT,HHPER,HHPERPLA,ST_num,ET_num
0,1031985,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,8,40,NaN,340,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,3.000000,8.666667
1,1031985,1,2,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,2,12,53,22.0,231,7.647539,BENICIA SENIOR CITIZEN CENTER,BENICIA,CA,94510,HIDDEN,HIDDEN,13.285837,95.0,960500.0,BENICIA,6,0.052086,17.647568,1.0,0.969789,0.050512,17.114409,10319851,103198512,9.033333,12.883333
2,1031985,1,3,2.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,6.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13,13,2,59,20.0,826,7.647539,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,12.844300,95.0,252202.0,VALLEJO,6,0.052086,17.647568,2.0,1.011905,0.052706,17.857658,10319851,103198513,13.216667,2.983333
3,1031985,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,0,9,16,NaN,376,NaN,HOME,VALLEJO,CA,94591,HIDDEN,HIDDEN,NaN,95.0,252202.0,VALLEJO,6,0.052086,17.647568,NaN,NaN,NaN,NaN,10319852,103198521,3.000000,9.266667
4,1031985,2,2,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9,26,10,43,10.0,77,3.411647,LOMA VISTA ELEMENTARY SCHOOL,VALLEJO,CA,94589,HIDDEN,HIDDEN,5.065893,95.0,950200.0,VALLEJO,6,0.052086,17.647568,1.0,1.119681,0.058320,19.759644,10319852,103198522,9.433333,10.716667

In [280]:
place1 = place[['HHPER','HHPERPLA','MODE','ST_num','ET_num','PNAME']]

### Rearrange activities table to allow classifying each location as work, home, or other.

In [175]:
# activity.STIME.astype(str).str.split(':',expand = True).astype(int).apply(lambda x: x[0]+x[1]/60.,axis = 1)

In [281]:
activity = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_ACTIVITY.csv')

activity.head()

,SAMPN,PERNO,PLANO,ACTNO,ACTOTH,ACTHH,ACTOR,ACTWK,ACTSC,ACTRG,ACTFR,ACTOT,APURP,O_APURP,STIME,ETIME,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT
0,1031985,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,03:00,07:00,0.052086,17.647568,NaN,NaN,NaN,NaN
1,1031985,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,07:00,08:10,0.052086,17.647568,NaN,NaN,NaN,NaN
2,1031985,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,08:10,08:40,0.052086,17.647568,NaN,NaN,NaN,NaN
3,1031985,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,09:02,12:48,0.052086,17.647568,1.0,0.969789,0.050512,17.114409
4,1031985,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13:13,13:38,0.052086,17.647568,2.0,1.011905,0.052706,17.857658

In [282]:
activity['HHPER'] = activity['SAMPN'].map(str) + activity['PERNO'].map(str)

activity['HHPERPLA'] = activity['HHPER'].map(str) + activity['PLANO'].map(str)

In [283]:
activity['count'] = activity.groupby('HHPERPLA').cumcount() + 1

activity.head()

,SAMPN,PERNO,PLANO,ACTNO,ACTOTH,ACTHH,ACTOR,ACTWK,ACTSC,ACTRG,ACTFR,ACTOT,APURP,O_APURP,STIME,ETIME,PERWGT,EXPPERWGT,TRIPNO,TCF,TCFPERWGT,EXPTCFPERWGT,HHPER,HHPERPLA,count
0,1031985,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,03:00,07:00,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,1
1,1031985,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,07:00,08:10,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,2
2,1031985,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,08:10,08:40,0.052086,17.647568,NaN,NaN,NaN,NaN,10319851,103198511,3
3,1031985,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,09:02,12:48,0.052086,17.647568,1.0,0.969789,0.050512,17.114409,10319851,103198512,1
4,1031985,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13:13,13:38,0.052086,17.647568,2.0,1.011905,0.052706,17.857658,10319851,103198513,1

In [284]:
activity2 = activity.pivot(index='HHPERPLA', columns='count', values='APURP').reset_index()

activity2.columns = ['HHPERPLA', 'APURP1', 'APURP2', 'APURP3']

activity2.head()

    HHPERPLA  APURP1  APURP2  APURP3
0  103198511     1.0     2.0     1.0
1  103198512    37.0     NaN     NaN
2  103198513     2.0     7.0     8.0
3  103198521     1.0     2.0     7.0
4  103198522    33.0     NaN     NaN

### Classify locations as work or not.

In [285]:
activity2['place'] = np.where(((activity2['APURP1'] == 9) | (activity2['APURP1'] == 10) | (activity2['APURP1'] == 16) |
                             (activity2['APURP2'] == 9) |(activity2['APURP2'] == 10) |(activity2['APURP2'] == 16) |
                             (activity2['APURP3'] == 9) |(activity2['APURP3'] == 10) |(activity2['APURP3'] == 16)), 'work', 'no')

activity2.head()

    HHPERPLA  APURP1  APURP2  APURP3 place
0  103198511     1.0     2.0     1.0    no
1  103198512    37.0     NaN     NaN    no
2  103198513     2.0     7.0     8.0    no
3  103198521     1.0     2.0     7.0    no
4  103198522    33.0     NaN     NaN    no

### Classify locations as home.

In [286]:
place2 = pd.merge(place1, activity2, on='HHPERPLA')

place2.loc[place2.PNAME == "HOME", 'place'] = "home"

place2.head()

,HHPER,HHPERPLA,MODE,ST_num,ET_num,PNAME,APURP1,APURP2,APURP3,place
0,10319851,103198511,NaN,3.000000,8.666667,HOME,1.0,2.0,1.0,home
1,10319851,103198512,6.0,9.033333,12.883333,BENICIA SENIOR CITIZEN CENTER,37.0,NaN,NaN,no
2,10319851,103198513,6.0,13.216667,2.983333,HOME,2.0,7.0,8.0,home
3,10319852,103198521,NaN,3.000000,9.266667,HOME,1.0,2.0,7.0,home
4,10319852,103198522,5.0,9.433333,10.716667,LOMA VISTA ELEMENTARY SCHOOL,33.0,NaN,NaN,no

### Assign XY coordinates and zones to home and work locations.

In [287]:
od = pd.read_csv("/home/data/fall_2018/chts_persons_w_zone_ids.csv")

od.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (42,95,99,106,152,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,index,SAMPN,PERNO,RELAT,GEND,AGE,AGEB,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,CNTRY,LIC,USER,TRANS,TPTYP1,TPTYP2,TPTYP3,TPTYP4,TPTYP5,TPTYP6,TPTYP7,O_TPTYP,CLIP1,CLIP2,CLIP3,COMP,MET,PASSTL,FLEX,EMPLY,WKSTAT,O_WKSTAT,JOBS,WLOC,WNAME_persons,...,WXST1_lookup,WXST2_lookup,WXCORD_lookup,WYCORD_lookup,WNAME2_lookup,WCITY2_lookup,WZIP2_lookup,WXST2_1_lookup,WXST2_2_lookup,SNAME_lookup,SCITY_lookup,SZIP_lookup,SXST1_lookup,SXST2_lookup,SXCORD_lookup,SYCORD_lookup,WCTFIP_lookup,WTRACT_lookup,WBLOCK,WPrimaryCity_lookup,WSTFIP_lookup,W2PrimaryCity_lookup,W2STFIP_lookup,SCTFIP_lookup,STRACT_lookup,SBLOCK,SPrimaryCity_lookup,SSTFIP_lookup,HCITY,HZIP,HXCORD,HYCORD,HBLOCK,HTRACT,HCTFIP,HPrimaryCity,parcel_id_home,parcel_id_work,zone_id_home,zone_id_work
0,0,0,1031985,1,1,1,74,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALLEJO,94591,-122.182785,38.161600,60952522021011,252202,95,VALLEJO,1864693,NaN,1247,NaN
1,1,1,1031985,2,2,2,73,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALLEJO,94591,-122.182785,38.161600,60952522021011,252202,95,VALLEJO,1864693,NaN,1247,NaN
2,2,20,1033944,1,1,2,43,NaN,2,1.0,2.0,NaN,NaN,NaN,1,NaN,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,...,NaN,NaN,-122.402606,37.771256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,18000.0,6.075018e+13,SAN FRANCISCO,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAN FRANCISCO,94132,-122.470070,37.718091,60750313012004,31301,75,SAN FRANCISCO,1031066,982940.0,168,108.0
3,3,27,1035274,1,1,2,72,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUNNYVALE,94085,-122.017274,37.388281,60855090004012,509000,85,SUNNYVALE,1352587,NaN,424,NaN
4,4,28,1035274,2,2,1,72,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,...,NaN,NaN,-121.664242,37.151629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,512311.0,6.085512e+13,MORGAN HILL,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUNNYVALE,94085,-122.017274,37.388281,60855090004012,509000,85,SUNNYVALE,1352587,1695178.0,424,700.0

In [288]:
od['HHPER'] = od['SAMPN'].map(str) + od['PERNO'].map(str)

od = od[['HHPER','zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD_lookup','WYCORD_lookup']]

In [289]:
place3 = pd.merge(place2, od, on='HHPER')

place3.head()

,HHPER,HHPERPLA,MODE,ST_num,ET_num,PNAME,APURP1,APURP2,APURP3,place,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup
0,10319851,103198511,NaN,3.000000,8.666667,HOME,1.0,2.0,1.0,home,1247,NaN,-122.182785,38.1616,NaN,NaN
1,10319851,103198512,6.0,9.033333,12.883333,BENICIA SENIOR CITIZEN CENTER,37.0,NaN,NaN,no,1247,NaN,-122.182785,38.1616,NaN,NaN
2,10319851,103198513,6.0,13.216667,2.983333,HOME,2.0,7.0,8.0,home,1247,NaN,-122.182785,38.1616,NaN,NaN
3,10319852,103198521,NaN,3.000000,9.266667,HOME,1.0,2.0,7.0,home,1247,NaN,-122.182785,38.1616,NaN,NaN
4,10319852,103198522,5.0,9.433333,10.716667,LOMA VISTA ELEMENTARY SCHOOL,33.0,NaN,NaN,no,1247,NaN,-122.182785,38.1616,NaN,NaN

In [290]:
place3 = place3.loc[~(place3['zone_id_work'].isnull())]

In [291]:
print (place2.HHPER.nunique())
print (od.HHPER.nunique())
print (place3.HHPER.nunique())

108778
24030
10416

## Step 2. 
### Filter for people who go to work at least once during the day.

In [292]:
#selecting trips by people who go to work at least once

place4 = place3.groupby('HHPER').filter(lambda x : x['place'].isin(["work"]).any())

place4.head()

,HHPER,HHPERPLA,MODE,ST_num,ET_num,PNAME,APURP1,APURP2,APURP3,place,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup
30,10352742,103527421,NaN,3.000000,8.750000,HOME,1.0,2.0,NaN,home,424,700.0,-122.017274,37.388281,-121.664242,37.151629
31,10352742,103527422,5.0,9.166667,16.750000,EXELIS,9.0,11.0,NaN,work,424,700.0,-122.017274,37.388281,-121.664242,37.151629
32,10352742,103527423,5.0,17.083333,17.333333,REGENCY OF EVERGREEN VALLEY,37.0,NaN,NaN,no,424,700.0,-122.017274,37.388281,-121.664242,37.151629
33,10352742,103527424,5.0,17.450000,18.416667,CVS,27.0,NaN,NaN,no,424,700.0,-122.017274,37.388281,-121.664242,37.151629
34,10352742,103527425,5.0,18.533333,18.750000,REGENCY OF EVERGREEN VALLEY,37.0,NaN,NaN,no,424,700.0,-122.017274,37.388281,-121.664242,37.151629

In [293]:
print (place2.HHPER.nunique())
print (od.HHPER.nunique())
print (place3.HHPER.nunique())
print (place4.HHPER.nunique())

108778
24030
10416
6211

In [294]:
place5 = place4[['HHPER', 'HHPERPLA','place', 'PNAME','ST_num','ET_num','MODE',
                            'zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD_lookup','WYCORD_lookup']].copy()

place5.head()

,HHPER,HHPERPLA,place,PNAME,ST_num,ET_num,MODE,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup
30,10352742,103527421,home,HOME,3.000000,8.750000,NaN,424,700.0,-122.017274,37.388281,-121.664242,37.151629
31,10352742,103527422,work,EXELIS,9.166667,16.750000,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629
32,10352742,103527423,no,REGENCY OF EVERGREEN VALLEY,17.083333,17.333333,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629
33,10352742,103527424,no,CVS,17.450000,18.416667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629
34,10352742,103527425,no,REGENCY OF EVERGREEN VALLEY,18.533333,18.750000,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629

### Change "MODE" column from mode-to to mode-from:

In [295]:
place5['MODE_NEW'] = place5.groupby('HHPER', group_keys=False).MODE.shift(-1)

place5.head(n=10)

,HHPER,HHPERPLA,place,PNAME,ST_num,ET_num,MODE,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE_NEW
30,10352742,103527421,home,HOME,3.000000,8.750000,NaN,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0
31,10352742,103527422,work,EXELIS,9.166667,16.750000,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0
32,10352742,103527423,no,REGENCY OF EVERGREEN VALLEY,17.083333,17.333333,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0
33,10352742,103527424,no,CVS,17.450000,18.416667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0
34,10352742,103527425,no,REGENCY OF EVERGREEN VALLEY,18.533333,18.750000,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0
35,10352742,103527426,home,HOME,19.166667,2.983333,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,NaN
65,10414944,104149441,home,HOME,3.000000,8.500000,NaN,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0
66,10414944,104149442,work,INDEPENDENT CONTRACTOR,8.750000,17.500000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0
67,10414944,104149443,home,HOME,18.000000,2.983333,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,NaN
68,10417661,104176611,home,HOME,3.000000,8.000000,NaN,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0

## Step 3. Convert list of locations to list of trips

### 3a. Make trip IDs and list home-work and work-home modes by trip ID

In [296]:
def count_place(df):
    return df.join(df['place'].str.get_dummies()
                  .cumsum().add_suffix('_Count')).head(n=15)

trips = place5.groupby('HHPER', group_keys=False).apply(count_place)

trips.head()

,ET_num,HHPER,HHPERPLA,HXCORD,HYCORD,MODE,MODE_NEW,PNAME,ST_num,WXCORD_lookup,WYCORD_lookup,home_Count,no_Count,place,work_Count,zone_id_home,zone_id_work
30,8.750000,10352742,103527421,-122.017274,37.388281,NaN,5.0,HOME,3.000000,-121.664242,37.151629,1.0,0.0,home,0,424,700.0
31,16.750000,10352742,103527422,-122.017274,37.388281,5.0,5.0,EXELIS,9.166667,-121.664242,37.151629,1.0,0.0,work,1,424,700.0
32,17.333333,10352742,103527423,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,17.083333,-121.664242,37.151629,1.0,1.0,no,1,424,700.0
33,18.416667,10352742,103527424,-122.017274,37.388281,5.0,5.0,CVS,17.450000,-121.664242,37.151629,1.0,2.0,no,1,424,700.0
34,18.750000,10352742,103527425,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,18.533333,-121.664242,37.151629,1.0,3.0,no,1,424,700.0

In [297]:
neverhome = trips[trips.home_Count.isnull()]

neverathome = neverhome.HHPER.unique()

neverhome.HHPER.nunique()

34

In [298]:
trips = trips[~trips.HHPER.isin(neverathome)]

In [301]:
# personsnew3["home_Count"].fillna(0, inplace=True)

# personsnew3["no_Count"].fillna(0, inplace=True)

trips["trip_ID"] = trips["work_Count"].map(str) + trips["home_Count"].map(str)

trips["HHPERTRIP"] = trips["HHPER"].map(str) + trips["trip_ID"].map(str)

trips['count'] = trips.groupby('HHPERTRIP').cumcount() + 1

trips.head(n=20)

,ET_num,HHPER,HHPERPLA,HXCORD,HYCORD,MODE,MODE_NEW,PNAME,ST_num,WXCORD_lookup,WYCORD_lookup,home_Count,no_Count,place,work_Count,zone_id_home,zone_id_work,trip_ID,HHPERTRIP,count
30,8.750000,10352742,103527421,-122.017274,37.388281,NaN,5.0,HOME,3.000000,-121.664242,37.151629,1.0,0.0,home,0,424,700.0,01.0,1035274201.0,1
31,16.750000,10352742,103527422,-122.017274,37.388281,5.0,5.0,EXELIS,9.166667,-121.664242,37.151629,1.0,0.0,work,1,424,700.0,11.0,1035274211.0,1
32,17.333333,10352742,103527423,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,17.083333,-121.664242,37.151629,1.0,1.0,no,1,424,700.0,11.0,1035274211.0,2
33,18.416667,10352742,103527424,-122.017274,37.388281,5.0,5.0,CVS,17.450000,-121.664242,37.151629,1.0,2.0,no,1,424,700.0,11.0,1035274211.0,3
34,18.750000,10352742,103527425,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,18.533333,-121.664242,37.151629,1.0,3.0,no,1,424,700.0,11.0,1035274211.0,4
35,2.983333,10352742,103527426,-122.017274,37.388281,5.0,NaN,HOME,19.166667,-121.664242,37.151629,2.0,3.0,home,1,424,700.0,12.0,1035274212.0,1
65,8.500000,10414944,104149441,-122.091521,38.010760,NaN,5.0,HOME,3.000000,-122.118103,37.885783,1.0,NaN,home,0,1095,1152.0,01.0,1041494401.0,1
66,17.500000,10414944,104149442,-122.091521,38.010760,5.0,5.0,INDEPENDENT CONTRACTOR,8.750000,-122.118103,37.885783,1.0,NaN,work,1,1095,1152.0,11.0,1041494411.0,1
67,2.983333,10414944,104149443,-122.091521,38.010760,5.0,NaN,HOME,18.000000,-122.118103,37.885783,2.0,NaN,home,1,1095,1152.0,12.0,1041494412.0,1
68,8.000000,10417661,104176611,-122.414811,37.610585,NaN,5.0,HOME,3.000000,-122.447100,37.779020,1.0,0.0,home,0,241,69.0,01.0,1041766101.0,1
69,8.666667,10417661,104176612,-122.414811,37.610585,5.0,5.0,NATALIA SKATCHKOVA DAYCARE,8.500000,-122.447100,37.779020,1.0,1.0,no,0,241,69.0,01.0,1041766101.0,2
70,17.500000,10417661,104176613,-122.414811,37.610585,5.0,5.0,BLOOD CENTERS OF THE PACIFIC,9.000000,-122.447100,37.779020,1.0,1.0,work,1,241,69.0,11.0,1041766111.0,1
71,18.166667,10417661,104176614,-122.414811,37.610585,5.0,5.0,NATALIA SKATCHKOVA DAYCARE,18.000000,-122.447100,37.779020,1.0,2.0,no,1,241,69.0,11.0,1041766111.0,2
72,2.983333,10417661,104176615,-122.414811,37.610585,5.0,NaN,HOME,18.750000,-122.447100,37.779020,2.0,2.0,home,1,241,69.0,12.0,1041766112.0,1
73,8.000000,10417662,104176621,-122.414811,37.610585,NaN,5.0,HOME,3.000000,-122.328418,37.536798,1.0,NaN,home,0,241,282.0,01.0,1041766201.0,1
74,18.500000,10417662,104176622,-122.414811,37.610585,5.0,5.0,NEXTAG INC,8.500000,-122.328418,37.536798,1.0,NaN,work,1,241,282.0,11.0,1041766211.0,1
75,2.983333,10417662,104176623,-122.414811,37.610585,5.0,NaN,HOME,19.000000,-122.328418,37.536798,2.0,NaN,home,1,241,282.0,12.0,1041766212.0,1
79,8.250000,10436131,104361311,-122.252523,37.851942,NaN,5.0,HOME,3.000000,-122.275657,37.799656,1.0,0.0,home,0,1004,969.0,01.0,1043613101.0,1
80,12.083333,10436131,104361312,-122.252523,37.851942,5.0,5.0,ALAMEDA COUNTY SUPERIOR COURT,8.750000,-122.275657,37.799656,1.0,0.0,work,1,1004,969.0,11.0,1043613111.0,1
81,13.466667,10436131,104361313,-122.252523,37.851942,5.0,5.0,HOME,12.400000,-122.275657,37.799656,2.0,0.0,home,1,1004,969.0,12.0,1043613112.0,1

In [302]:
trips['count'].max()

14

In [303]:
trips1 = trips.pivot(index='HHPERTRIP', columns='count', values='MODE_NEW').reset_index()

trips1.columns = ['HHPERTRIP', 'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                       'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14']

trips1.head()

,HHPERTRIP,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,1035274201.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1035274211.0,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1035274212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1041494401.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1041494411.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
trips = pd.merge(trips, trips1, on='HHPERTRIP')

trips.head()

,ET_num,HHPER,HHPERPLA,HXCORD,HYCORD,MODE,MODE_NEW,PNAME,ST_num,WXCORD_lookup,WYCORD_lookup,home_Count,no_Count,place,work_Count,zone_id_home,zone_id_work,trip_ID,HHPERTRIP,count,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,8.750000,10352742,103527421,-122.017274,37.388281,NaN,5.0,HOME,3.000000,-121.664242,37.151629,1.0,0.0,home,0,424,700.0,01.0,1035274201.0,1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16.750000,10352742,103527422,-122.017274,37.388281,5.0,5.0,EXELIS,9.166667,-121.664242,37.151629,1.0,0.0,work,1,424,700.0,11.0,1035274211.0,1,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17.333333,10352742,103527423,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,17.083333,-121.664242,37.151629,1.0,1.0,no,1,424,700.0,11.0,1035274211.0,2,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18.416667,10352742,103527424,-122.017274,37.388281,5.0,5.0,CVS,17.450000,-121.664242,37.151629,1.0,2.0,no,1,424,700.0,11.0,1035274211.0,3,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18.750000,10352742,103527425,-122.017274,37.388281,5.0,5.0,REGENCY OF EVERGREEN VALLEY,18.533333,-121.664242,37.151629,1.0,3.0,no,1,424,700.0,11.0,1035274211.0,4,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3b. Isolate rows that identify start of home-work or work-home trips.

In [305]:
#List of all departures from home or work by workers.
homeworktrips = trips.loc[trips['place'].isin(["home","work"])]

In [306]:
homeworktrips['trip_ET'] = homeworktrips.groupby('HHPER', group_keys=False).ST_num.shift(-1)

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [307]:
homeworktrips = homeworktrips[['HHPER', 'HHPERTRIP','place', 'ST_num','ET_num','trip_ET','MODE_NEW',
                               'zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD_lookup','WYCORD_lookup',
                               'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14']].copy()

homeworktrips.head(n=10)

,HHPER,HHPERTRIP,place,ST_num,ET_num,trip_ET,MODE_NEW,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,10352742,1035274201.0,home,3.000000,8.750000,9.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10352742,1035274211.0,work,9.166667,16.750000,19.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10352742,1035274212.0,home,19.166667,2.983333,NaN,NaN,424,700.0,-122.017274,37.388281,-121.664242,37.151629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10414944,1041494401.0,home,3.000000,8.500000,8.750000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10414944,1041494411.0,work,8.750000,17.500000,18.000000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10414944,1041494412.0,home,18.000000,2.983333,NaN,NaN,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10417661,1041766101.0,home,3.000000,8.000000,9.000000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10417661,1041766111.0,work,9.000000,17.500000,18.750000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10417661,1041766112.0,home,18.750000,2.983333,NaN,NaN,241,69.0,-122.414811,37.610585,-122.447100,37.779020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10417662,1041766201.0,home,3.000000,8.000000,8.500000,5.0,241,282.0,-122.414811,37.610585,-122.328418,37.536798,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3c. Identify trips where the departure place is not the same as the one before it. This captures 'from home' trips that end at work and 'from work' trips that end at home. 

### However, it also captures end-of-day 'from home' trips that don't end at work and 'from work' trips that don't end at home.

In [308]:
#Taking last trips where the place is not the same as the one before it and/or the person is not the same as the one before it.

tripsI = homeworktrips.loc[(homeworktrips.HHPER != homeworktrips.HHPER.shift(-1)) | (homeworktrips.place != homeworktrips.place.shift(-1))]

tripsI.head(n=10)

,HHPER,HHPERTRIP,place,ST_num,ET_num,trip_ET,MODE_NEW,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,10352742,1035274201.0,home,3.000000,8.750000,9.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10352742,1035274211.0,work,9.166667,16.750000,19.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10352742,1035274212.0,home,19.166667,2.983333,NaN,NaN,424,700.0,-122.017274,37.388281,-121.664242,37.151629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10414944,1041494401.0,home,3.000000,8.500000,8.750000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10414944,1041494411.0,work,8.750000,17.500000,18.000000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10414944,1041494412.0,home,18.000000,2.983333,NaN,NaN,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10417661,1041766101.0,home,3.000000,8.000000,9.000000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10417661,1041766111.0,work,9.000000,17.500000,18.750000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10417661,1041766112.0,home,18.750000,2.983333,NaN,NaN,241,69.0,-122.414811,37.610585,-122.447100,37.779020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10417662,1041766201.0,home,3.000000,8.000000,8.500000,5.0,241,282.0,-122.414811,37.610585,-122.328418,37.536798,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3d. Identify end-of-day 'from home' trips that end at work, as well as end-of-day 'from work' trips that don't end at home.

In [309]:
#Identifying people whose last home or work location is work.

tripsJ = homeworktrips.loc[homeworktrips.HHPER != homeworktrips.HHPER.shift(-1)]

tripsJ.groupby(['place']).count()

,HHPER,HHPERTRIP,ST_num,ET_num,trip_ET,MODE_NEW,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
place,,,,,,,,,,,,,,,,,,,,,,,,,,
home,6031,6031,6031,6031,0,80,6031,6031,6031,6031,6031,6031,80,50,31,16,6,4,2,1,1,1,0,0,0,0
work,146,146,146,146,0,65,146,146,146,146,146,146,65,47,36,27,24,20,15,9,7,6,6,4,2,2

In [310]:
tripsK = tripsJ.loc[tripsJ['place'].isin(["work"])]

#### Ends day at work (night-shift workers). End-of-day 'from home' trip ends at work:

In [311]:
tripsL = tripsK[(tripsK['ET_num'] >= 2.98) & (tripsK['ET_num'] <= 2.985)]

nightshift = tripsL.HHPER.unique()

tripsL.HHPER.nunique()

81

#### Leaves work but does not go home at end of day (to airport, second home, or another location). End-of-day 'from work' trip does not end at home:

In [312]:
tripsM = tripsK[(tripsK['ET_num'] <= 2.98) | (tripsK['ET_num'] >= 2.985)]

dontgohome = tripsM.HHPERTRIP.unique()

tripsM.HHPER.nunique()

65

### 3e. Get rid of last 'from home' trip for all those except night-shift workers, and get rid of last work activity for night-shift workers.

In [313]:
#Selecting all but people whose last 'from home' trip is to work. 
tripsII = tripsI[~tripsI.HHPER.isin(nightshift)] 

#Selecting people whose last 'from home' trip is to work.
tripsIII = tripsI[tripsI.HHPER.isin(nightshift)]

#Get rid of last work activity for nightshift workers.
tripsIII = tripsIII[(tripsIII['ET_num'] <= 2.9833) | (tripsIII['ET_num'] >= 2.9834)]

tripsIII.head()

print (tripsII.HHPER.nunique())

print (tripsIII.HHPER.nunique())

6096
81

In [316]:
#Getting rid of last 'from home' trip for all those except people going to work.

tripsN = tripsII.groupby('HHPER').apply(lambda x: x.iloc[:-1] if (x.iloc[-1, x.columns.get_loc('place')] == "home") else x).reset_index(drop=True)

tripsN.HHPER.nunique()

6095

In [317]:
#Adding back nine people going to work as last 'from home' trip.
tripsP = pd.concat([tripsN,tripsIII])

### 3f. Identify people who go from home to work or from work to home more than once.

In [318]:
def count_place(df):
    return df.join(df['place'].str.get_dummies()
                  .cumsum().add_suffix('_Count')).head(n=15)

tripsP = tripsP.groupby('HHPER', group_keys=False).apply(count_place)

In [319]:
tripsP = tripsP[['HHPER', 'HHPERTRIP','place', 'home_Count','work_Count',
                 'ST_num','ET_num','trip_ET','MODE_NEW',
                 'zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD_lookup','WYCORD_lookup',
                               'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14']].copy()

tripsP.head()

,HHPER,HHPERTRIP,place,home_Count,work_Count,ST_num,ET_num,trip_ET,MODE_NEW,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,10352742,1035274201.0,home,1.0,0.0,3.000000,8.75,9.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10352742,1035274211.0,work,1.0,1.0,9.166667,16.75,19.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10414944,1041494401.0,home,1.0,0.0,3.000000,8.50,8.750000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10414944,1041494411.0,work,1.0,1.0,8.750000,17.50,18.000000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10417661,1041766101.0,home,1.0,0.0,3.000000,8.00,9.000000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [320]:
workweird1 = tripsP.groupby('HHPER').filter(lambda x : x['home_Count'].isin(["2"]).any())

workweird1a = workweird1.HHPER.unique()

workweird2 = tripsP.groupby('HHPER').filter(lambda x : x['work_Count'].isin(["2"]).any())

workweird2a = workweird2.HHPER.unique()

print (workweird1.HHPER.nunique())
print (workweird2.HHPER.nunique())
print (tripsP.HHPER.nunique())

261
264
6176

In [321]:
tripsP = tripsP[~tripsP.HHPER.isin(workweird1a)] 

tripsP = tripsP[~tripsP.HHPER.isin(workweird2a)] 

tripsP.HHPER.nunique()

5908

### 3g. Add columns with dwell time at the origin and travel time to arrival location.

In [322]:
tripsP['origin_ST'] = tripsP.groupby('HHPER', group_keys=False).trip_ET.shift(+1)

In [323]:
ZZ = tripsP['trip_ET'].groupby(tripsP['HHPER']).apply(lambda x: x.iloc[-1]).reset_index()

ZZ.columns = ['HHPER','last_tt']

ZZ.head()

      HHPER    last_tt
0  10352742  19.166667
1  10414944  18.000000
2  10417661  18.750000
3  10417662  19.000000
4  10436132  19.400000

In [324]:
tripsP = pd.merge(tripsP, ZZ, on='HHPER')

In [325]:
#Identify people who don't start and end day in same location (so can't assume equivalent schedules day-to-day).

nonparallel1 = place3['PNAME'].groupby(place3['HHPER']).apply(lambda x: x.iloc[0]).reset_index()

nonparallel1.columns = ['HHPER','first_place']

nonparallel2 = place3['PNAME'].groupby(place3['HHPER']).apply(lambda x: x.iloc[-1]).reset_index()

nonparallel2.columns = ['HHPER','last_place']

nonparallel = pd.merge(nonparallel1, nonparallel2, on='HHPER')

nonparallel = nonparallel.loc[nonparallel['first_place']!=nonparallel['last_place']]

nonparallelIDs = nonparallel.HHPER.unique()

In [326]:
tripsPa = tripsP[~tripsP.HHPER.isin(nonparallelIDs)] 
tripsPb = tripsP[tripsP.HHPER.isin(nonparallelIDs)]

In [327]:
tripsPa["origin_ST"].fillna(tripsPa['last_tt'], inplace=True)

tripsPa.head()

/home/emma/anaconda/envs/ual-model/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,HHPER,HHPERTRIP,place,home_Count,work_Count,ST_num,ET_num,trip_ET,MODE_NEW,zone_id_home,zone_id_work,HXCORD,HYCORD,WXCORD_lookup,WYCORD_lookup,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,origin_ST,last_tt
0,10352742,1035274201.0,home,1.0,0.0,3.000000,8.75,9.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.166667,19.166667
1,10352742,1035274211.0,work,1.0,1.0,9.166667,16.75,19.166667,5.0,424,700.0,-122.017274,37.388281,-121.664242,37.151629,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.166667,19.166667
2,10414944,1041494401.0,home,1.0,0.0,3.000000,8.50,8.750000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,18.000000
3,10414944,1041494411.0,work,1.0,1.0,8.750000,17.50,18.000000,5.0,1095,1152.0,-122.091521,38.010760,-122.118103,37.885783,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.750000,18.000000
4,10417661,1041766101.0,home,1.0,0.0,3.000000,8.00,9.000000,5.0,241,69.0,-122.414811,37.610585,-122.447100,37.779020,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.750000,18.750000

In [328]:
tripsP = pd.concat([tripsPa,tripsPb])

In [329]:
tripsP["origin_dwell"] = tripsP["ET_num"] - tripsP["origin_ST"]

tripsP.loc[ (tripsP['origin_dwell'] < 0),
    'origin_dwell'] = tripsP['origin_dwell'] + 24

In [330]:
tripsP['TT'] = tripsP['trip_ET'] - tripsP['ET_num']

tripsP.loc[ (tripsP['TT'] < 0),
    'TT'] = tripsP['TT'] + 24

In [331]:
tripsW = tripsP.loc[(tripsP['origin_dwell'] + tripsP['TT']) == 24]

tripsW.HHPER.nunique()

1

In [332]:
tripsP.loc[(tripsP['origin_dwell'] + tripsP['TT']) == 24,
           'origin_dwell'] = np.NaN

In [333]:
tripsP=tripsP.rename(columns = {'place':'origin','ET_num':'origin_ET','WXCORD_lookup':'WXCORD','WYCORD_lookup':'WYCORD'})

In [334]:
trips3 = tripsP[['HHPER', 'HHPERTRIP','origin',
                 'origin_dwell','origin_ST','origin_ET','trip_ET','TT',
                 'zone_id_home','zone_id_work','HXCORD','HYCORD','WXCORD','WYCORD',
                               'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14']].copy()

In [335]:
trips3['Oxcord'] = np.where(trips3['origin'] == "home", trips3['HXCORD'], 'no')

trips3.loc[trips3.origin == "work", 'Oxcord'] = trips3['WXCORD']

trips3['Oycord'] = np.where(trips3['origin'] == "home", trips3['HYCORD'], 'no')

trips3.loc[trips3.origin == "work", 'Oycord'] = trips3['WYCORD']

trips3['Dxcord'] = np.where(trips3['origin'] == "home", trips3['WXCORD'], 'no')

trips3.loc[trips3.origin == "work", 'Dxcord'] = trips3['HXCORD']

trips3['Dycord'] = np.where(trips3['origin'] == "home", trips3['WYCORD'], 'no')

trips3.loc[trips3.origin == "work", 'Dycord'] = trips3['HYCORD']

trips3['Ozone'] = np.where(trips3['origin'] == "home", trips3['zone_id_home'], 'no')

trips3.loc[trips3.origin == "work", 'Ozone'] = trips3['zone_id_work']

trips3['Dzone'] = np.where(trips3['origin'] == "home", trips3['zone_id_work'], 'no')

trips3.loc[trips3.origin == "work", 'Dzone'] = trips3['zone_id_home']

In [336]:
tripsR = trips3[['HHPER', 'HHPERTRIP','origin',
                 'origin_dwell','origin_ST','origin_ET','trip_ET','TT',
                 'Ozone','Dzone','Oxcord','Oycord','Dxcord','Dycord',
                               'MODE1', 'MODE2', 'MODE3', 'MODE4', 'MODE5', 'MODE6', 'MODE7', 
                           'MODE8', 'MODE9', 'MODE10', 'MODE11', 'MODE12', 'MODE13', 'MODE14']].copy()

In [337]:
tripsR.head()

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,Ozone,Dzone,Oxcord,Oycord,Dxcord,Dycord,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14
0,10352742,1035274201.0,home,13.583333,19.166667,8.75,9.166667,0.416667,424,700.0,-122.017274,37.388281,-121.66424170000002,37.1516286,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10352742,1035274211.0,work,7.583333,9.166667,16.75,19.166667,2.416667,700,424,-121.664,37.1516,-122.017,37.3883,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10414944,1041494401.0,home,14.500000,18.000000,8.50,8.750000,0.250000,1095,1152.0,-122.091521,38.01076,-122.1181031,37.885783399999994,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10414944,1041494411.0,work,8.750000,8.750000,17.50,18.000000,0.500000,1152,1095,-122.118,37.8858,-122.092,38.0108,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10417661,1041766101.0,home,13.250000,18.750000,8.00,9.000000,1.000000,241,69.0,-122.41481100000001,37.610585,-122.44709979999999,37.779019899999994,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 4. Assign modes: drive alone, shared, bike, walk, walkTransitwalk, driveTransitwalk, walkTransitdrive.

In [338]:
tripsR['MODE'] = np.where((((tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
                          'drive_transit','no')

In [339]:
tripsR.loc[((tripsR['MODE']== 'drive_transit') & (tripsR['origin'] == 'work')),
           'MODE'] = 'WTranDr'

tripsR.loc[((tripsR['MODE']== 'drive_transit') & (tripsR['origin'] == 'home')),
           'MODE'] = 'DrTranW'

In [340]:
tripsR.loc[(((tripsR['MODE1'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE2'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE3'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE4'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE5'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE6'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE7'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE8'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE9'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE10'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE11'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE12'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE13'].isin([5.0,8.0,9.0,10.0])) |
                                                           (tripsR['MODE14'].isin([5.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
           'MODE'] = 'drive_alone'

In [341]:
tripsR.loc[(((tripsR['MODE1'].isin([6.0,7.0])) |
                                                           (tripsR['MODE2'].isin([6.0,7.0])) |
                                                           (tripsR['MODE3'].isin([6.0,7.0])) |
                                                           (tripsR['MODE4'].isin([6.0,7.0])) |
                                                           (tripsR['MODE5'].isin([6.0,7.0])) |
                                                           (tripsR['MODE6'].isin([6.0,7.0])) |
                                                           (tripsR['MODE7'].isin([6.0,7.0])) |
                                                           (tripsR['MODE8'].isin([6.0,7.0])) |
                                                           (tripsR['MODE9'].isin([6.0,7.0])) |
                                                           (tripsR['MODE10'].isin([6.0,7.0])) |
                                                           (tripsR['MODE11'].isin([6.0,7.0])) |
                                                           (tripsR['MODE12'].isin([6.0,7.0])) |
                                                           (tripsR['MODE13'].isin([6.0,7.0])) |
                                                           (tripsR['MODE14'].isin([6.0,7.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])))),
           'MODE'] = 'shared'

In [342]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) |
                             (tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
           ((tripsR['MODE1'].isin([1.0])) |
            (tripsR['MODE2'].isin([1.0])) |
            (tripsR['MODE3'].isin([1.0])) |
            (tripsR['MODE4'].isin([1.0])) |
            (tripsR['MODE5'].isin([1.0])) |
            (tripsR['MODE6'].isin([1.0])) |
            (tripsR['MODE7'].isin([1.0])) |
            (tripsR['MODE8'].isin([1.0])) |
            (tripsR['MODE9'].isin([1.0])) |
            (tripsR['MODE10'].isin([1.0])) |
            (tripsR['MODE11'].isin([1.0])) |
            (tripsR['MODE12'].isin([1.0])) |
            (tripsR['MODE13'].isin([1.0])) |
            (tripsR['MODE14'].isin([1.0])))),
           'MODE'] = 'WTranW'

In [343]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
            ((tripsR['MODE1'].isin([2.0])) |
            (tripsR['MODE2'].isin([2.0])) |
            (tripsR['MODE3'].isin([2.0])) |
            (tripsR['MODE4'].isin([2.0])) |
            (tripsR['MODE5'].isin([2.0])) |
            (tripsR['MODE6'].isin([2.0])) |
            (tripsR['MODE7'].isin([2.0])) |
            (tripsR['MODE8'].isin([2.0])) |
            (tripsR['MODE9'].isin([2.0])) |
            (tripsR['MODE10'].isin([2.0])) |
            (tripsR['MODE11'].isin([2.0])) |
            (tripsR['MODE12'].isin([2.0])) |
            (tripsR['MODE13'].isin([2.0])) |
            (tripsR['MODE14'].isin([2.0])))), 'MODE'] = 'bike'

In [344]:
tripsR.loc[(((~tripsR['MODE1'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE2'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE3'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE4'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE5'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE6'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE7'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE8'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE9'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE10'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE11'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE12'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE13'].isin([5.0,6.0,7.0,8.0,9.0,10.0])) &
                                                           (~tripsR['MODE14'].isin([5.0,6.0,7.0,8.0,9.0,10.0]))) &
                            ((~tripsR['MODE1'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE2'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE3'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE4'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE5'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE6'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE7'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE8'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE9'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE10'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE11'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE12'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE13'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0])) &
                             (~tripsR['MODE14'].isin([15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0]))) &
            ((~tripsR['MODE1'].isin([2.0])) &
            (~tripsR['MODE2'].isin([2.0])) &
            (~tripsR['MODE3'].isin([2.0])) &
            (~tripsR['MODE4'].isin([2.0])) &
            (~tripsR['MODE5'].isin([2.0])) &
            (~tripsR['MODE6'].isin([2.0])) &
            (~tripsR['MODE7'].isin([2.0])) &
            (~tripsR['MODE8'].isin([2.0])) &
            (~tripsR['MODE9'].isin([2.0])) &
            (~tripsR['MODE10'].isin([2.0])) &
            (~tripsR['MODE11'].isin([2.0])) &
            (~tripsR['MODE12'].isin([2.0])) &
            (~tripsR['MODE13'].isin([2.0])) &
            (~tripsR['MODE14'].isin([2.0]))) &
            ((tripsR['MODE1'].isin([1.0])) |
            (tripsR['MODE2'].isin([1.0])) |
            (tripsR['MODE3'].isin([1.0])) |
            (tripsR['MODE4'].isin([1.0])) |
            (tripsR['MODE5'].isin([1.0])) |
            (tripsR['MODE6'].isin([1.0])) |
            (tripsR['MODE7'].isin([1.0])) |
            (tripsR['MODE8'].isin([1.0])) |
            (tripsR['MODE9'].isin([1.0])) |
            (tripsR['MODE10'].isin([1.0])) |
            (tripsR['MODE11'].isin([1.0])) |
            (tripsR['MODE12'].isin([1.0])) |
            (tripsR['MODE13'].isin([1.0])) |
            (tripsR['MODE14'].isin([1.0])))), 'MODE'] = 'walk'

In [345]:
tripsR.head(n=25)

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,Ozone,Dzone,Oxcord,Oycord,Dxcord,Dycord,MODE1,MODE2,MODE3,MODE4,MODE5,MODE6,MODE7,MODE8,MODE9,MODE10,MODE11,MODE12,MODE13,MODE14,MODE
0,10352742,1035274201.0,home,13.583333,19.166667,8.750000,9.166667,0.416667,424,700.0,-122.017274,37.388281,-121.66424170000002,37.1516286,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
1,10352742,1035274211.0,work,7.583333,9.166667,16.750000,19.166667,2.416667,700,424,-121.664,37.1516,-122.017,37.3883,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
2,10414944,1041494401.0,home,14.500000,18.000000,8.500000,8.750000,0.250000,1095,1152.0,-122.091521,38.01076,-122.1181031,37.885783399999994,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
3,10414944,1041494411.0,work,8.750000,8.750000,17.500000,18.000000,0.500000,1152,1095,-122.118,37.8858,-122.092,38.0108,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
4,10417661,1041766101.0,home,13.250000,18.750000,8.000000,9.000000,1.000000,241,69.0,-122.41481100000001,37.610585,-122.44709979999999,37.779019899999994,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
5,10417661,1041766111.0,work,8.500000,9.000000,17.500000,18.750000,1.250000,69,241,-122.447,37.779,-122.415,37.6106,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
6,10417662,1041766201.0,home,13.000000,19.000000,8.000000,8.500000,0.500000,241,282.0,-122.41481100000001,37.610585,-122.328418,37.536798,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
7,10417662,1041766211.0,work,10.000000,8.500000,18.500000,19.000000,0.500000,282,241,-122.328,37.5368,-122.415,37.6106,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
8,10436132,1043613201.0,home,11.866667,19.400000,7.266667,7.866667,0.600000,1004,1127.0,-122.25252320000001,37.851941700000005,-122.06999309999999,37.9694722,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
9,10436132,1043613221.0,work,11.133333,7.866667,19.000000,19.400000,0.400000,1127,1004,-122.07,37.9695,-122.253,37.8519,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
10,10456071,1045607101.0,home,13.416667,16.916667,6.333333,7.000000,0.666667,908,116.0,-122.189451,37.7906644,-122.4107611,37.75957879999999,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shared
11,10456071,1045607111.0,work,8.250000,7.000000,15.250000,16.916667,1.666667,116,908,-122.411,37.7596,-122.189,37.7907,1.0,15.0,15.0,22.0,25.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTranW
12,10456721,1045672101.0,home,13.050000,18.166667,7.216667,8.050000,0.833333,1100,971.0,-121.94335,37.953765000000004,-122.26538529999999,37.8063078,5.0,24.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DrTranW
13,10456721,1045672111.0,work,9.200000,8.050000,17.250000,18.166667,0.916667,971,1100,-122.265,37.8063,-121.943,37.9538,1.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTranDr
14,10456723,1045672301.0,home,14.000000,17.500000,7.500000,8.000000,0.500000,1100,1122.0,-121.94335,37.953765000000004,-122.053556,37.976257000000004,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
15,10456723,1045672311.0,work,9.000000,8.000000,17.000000,17.500000,0.500000,1122,1100,-122.054,37.9763,-121.943,37.9538,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
16,10488521,1048852101.0,home,12.583333,18.916667,7.500000,8.716667,1.216667,1145,1020.0,-122.05665400000001,37.901733,-122.25838759999999,37.874711100000006,1.0,15.0,24.0,24.0,1.0,23.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTranW
17,10488521,1048852111.0,work,8.283333,8.716667,17.000000,18.916667,1.916667,1020,1145,-122.258,37.8747,-122.057,37.9017,1.0,23.0,1.0,24.0,24.0,15.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WTranW
18,10499081,1049908101.0,home,14.750000,13.250000,4.000000,4.250000,0.250000,30,12.0,-122.4181131,37.7865471,-122.4016528,37.7888576,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bike
19,10499081,1049908111.0,work,8.750000,4.250000,13.000000,13.250000,0.250000,12,30,-122.402,37.7889,-122.418,37.7865,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bike
20,10513882,1051388201.0,home,16.500000,15.516667,8.016667,8.583333,0.566667,89,4.0,-122.4457731,37.76727929999999,-122.40196270000001,37.789679799999995,5.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
21,10513882,1051388211.0,work,6.083333,8.583333,14.666667,15.516667,0.850000,4,89,-122.402,37.7897,-122.446,37.7673,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
22,10554492,1055449201.0,home,20.083333,17.583333,13.666667,13.833333,0.166667,1360,1359.0,-122.710948,38.434959,-122.69826299999998,38.443227,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
23,10554492,1055449211.0,work,3.166667,13.833333,17.000000,17.583333,0.583333,1359,1360,-122.698,38.4432,-122.711,38.435,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone
24,10591841,1059184101.0,home,14.000000,17.500000,7.500000,8.000000,0.500000,722,742.0,-121.783657,37.690989,-121.8954747,37.6915014,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drive_alone

In [346]:
strange_mode = tripsR[tripsR.MODE == "no"]

strange_mode.HHPER.nunique()

71

In [347]:
strange_mode.MODE1.unique()

array([ 2.,  4., 11.,  3., 21., 14., 29., 24., 18.])

In [348]:
#Get rid of strange-mode trips
tripsR = tripsR[tripsR.MODE != "no"]

In [349]:
tripsU = tripsR[['HHPER', 'HHPERTRIP','origin', 'origin_dwell',
 'origin_ST',
 'origin_ET',
 'trip_ET',
 'TT',
 'Ozone',
 'Dzone',
 'Oxcord',
 'Oycord',
 'Dxcord',
 'Dycord','MODE']].copy()

tripsU.head()

,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,Ozone,Dzone,Oxcord,Oycord,Dxcord,Dycord,MODE
0,10352742,1035274201.0,home,13.583333,19.166667,8.75,9.166667,0.416667,424,700.0,-122.017274,37.388281,-121.66424170000002,37.1516286,drive_alone
1,10352742,1035274211.0,work,7.583333,9.166667,16.75,19.166667,2.416667,700,424,-121.664,37.1516,-122.017,37.3883,drive_alone
2,10414944,1041494401.0,home,14.500000,18.000000,8.50,8.750000,0.250000,1095,1152.0,-122.091521,38.01076,-122.1181031,37.885783399999994,drive_alone
3,10414944,1041494411.0,work,8.750000,8.750000,17.50,18.000000,0.500000,1152,1095,-122.118,37.8858,-122.092,38.0108,drive_alone
4,10417661,1041766101.0,home,13.250000,18.750000,8.00,9.000000,1.000000,241,69.0,-122.41481100000001,37.610585,-122.44709979999999,37.779019899999994,drive_alone

In [269]:
# tripsU.loc[ (tripsU['origin_ST'] > 24),
#     'origin_ST'] = tripsU['origin_ST'] - 24

# tripsU.loc[ (tripsU['origin_ET'] > 24),
#     'origin_ET'] = tripsU['origin_ET'] - 24

# tripsU.loc[ (tripsU['trip_ET'] > 24),
#     'trip_ET'] = tripsU['trip_ET'] - 24

In [350]:
tripsU.describe()

       origin_dwell     origin_ST     origin_ET       trip_ET            TT
count  11389.000000  11390.000000  11597.000000  11538.000000  11538.000000
mean      11.015739     13.247398     12.455134     13.280093      0.941638
std        3.886960      5.191652      4.979629      5.197063      1.165347
min        0.033333      0.016667      0.016667      0.016667      0.016667
25%        8.500000      8.333333      7.683333      8.366667      0.333333
50%       10.683333     13.500000     12.666667     13.683333      0.583333
75%       13.833333     18.000000     17.000000     18.000000      1.000000
max       23.416667     24.000000     24.000000     24.000000     13.816667

In [363]:
# tripsYY = tripsU[tripsU['HHPER'].isin(nonparallelIDs)]

# tripsYY.HHPER.nunique()

In [364]:
# tripsYY.head(n=15)

In [365]:
# nulls = tripsU[pd.isnull(tripsU).any(axis=1)]

# nulls.HHPER.nunique()

In [366]:
# tripsX = nulls[~nulls['HHPER'].isin(nonparallelIDs)]

# XX = tripsX.HHPER.unique()

In [367]:
# place3[place3['HHPER'].isin(XX)]

In [368]:
# tripsX.head(n=25)

In [372]:
long = tripsU.loc[(tripsU['origin_dwell'] > 20) & (tripsU['origin'] == 'work')]

long2 = long.HHPER.unique()

odd = place3[place3.HHPER.isin(long2)]

odd.HHPER.nunique()

0

In [373]:
tripsU = tripsU[~(tripsU['HHPER'].isin(long2))]

In [375]:
tripsU.to_csv('HWtrips_101418.csv')